

<p style="color: #000000;">Bonjour <%=@teacher.infoteacher.first_name%>,</p>

<p style="color: #000000;">Votre élève, <%= @user.infouser.first_name %> <%= @user.infouser.last_name %>, a signalé son absence pour votre cours de <%=@lesson.cour.matiere %> pour le <%=@lesson.date%></p>
