

<p style="color: #000000;">Bonjour <%=@teacher.infoteacher.first_name%>,</p>

<p style="color: #000000;">Nous vous informons qu’un élève s’est inscrit à votre groupe de travail suivant :
Cours de <%=@cour.matiere%>, <%=@cour.jour%> à <%=@cour.heure%> h. </p>

<p style="color: #000000;">Coordonnées de l'élève :</p>
<p style="color: #000000;">
<%=@eleve.infouser.first_name%>: <%=@eleve.infouser.phone%> | <%=@eleve.infouser.email%>
</p>
<% if @topics.present? %>
	<p style="color: #000000;">
	L'élève a indiqué qu'il souhaiterait travailler au prochain cours les chapitre suivants : 
	</p>
	<%@topics.each do |t| %>
		<p><%=Topic.find(t).chapitre%></p>
	<%end%>
<%end%>




