<h4>TopNote</h4>

<p>Bonjour <%=@teacher.infoteacher.email%>,</p>

<p>Nous vous rappelons que vous dispensez un cours de <%=@cour.matiere%> demain (<%=@cour.jour%>) à <%=@cour.heure%>. </p>
<p>Lieu du cours: <%=@cour.lieu%></p>

<p>Vous pouvez joindre vos élèves aux numéros ou mails suivants :</p>

<% @cour.inscriptions.each do |i| %>

	<p><%=User.find(i.user_id).infouser.first_name%>: <%=User.find(i.user_id).infouser.phone%> | <%=User.find(i.user_id).infouser.email%></p>

<% end%>


