<h4>TopNote</h4>

<p>Bonjour <%=@user.infouser.first_name%>,</p>

<p>Votre absence pour le cours de <%= @lesson.cour.matiere %> dispensé par <%= @lesson.cour.teacher.infoteacher.first_name %> <%= @lesson.cour.teacher.infoteacher.last_name %> pour le <%=@lesson.date %></p>

