

<p style="color: #000000;">Bonjour <%=@user.infouser.first_name%>,</p>

<p style="color: #000000;">Nous vous informons que le cours de mathématique avec <%=@cour.teacher.infoteacher.first_name%> qui avait  initialement lieu le <%=@cour.date_reg%> à <%=@cour.heure%> a été déplacé par votre professeur au <%=@cour.date_ex%> à <%=@cour.horaire_ex%>.</p>

<p style="color: #000000;">Vous êtes automatiquement reconduit pour ce cours, vous pouvez cependant, vous désinscrire à ce cours en vous rendant sur votre espace personnel, sans frais supplémentaires si la date ou l’horaire ne vous convient pas.
</p>


