<h4>TopNote</h4>

<p>Bonjour <%=@user.infouser.first_name%>,</p>

<p>Nous vous informons que le cours de mathématique avec <%=@cour.teacher.infoteacher.first_name%> qui avait  initialement lieu le <%=@cour.date_reg%> à <%=@cour.heure%> a été déplacé par votre professeur au <%=@cour.date_ex%> à <%=@cour.horaire_ex%>.</p>

<p>Vous êtes automatiquement reconduit pour ce cours, vous pouvez cependant, vous désinscrire à ce cours en vous rendant sur votre espace personnel, sans frais supplémentaires si la date ou l’horaire ne vous convient pas.
</p>

<p>Si tu as des questions ou besoin d’aide, Margot, Ines, Arthur, Kevin ou l’un de nos Kamarades se fera le plaisir de te répondre dans la journée !</p>

<p>À bientôt,</p>

<p>L’équipe de TopNote</p>