<h1>La Kamaraderie</h1>

<p>L'horaire de votre prochain cours assuré par <%= @cour.teacher.infoteacher.first_name %> <%=@cour.teacher.infoteacher.last_name%> a été modifié.</p>
<p>Le prochain cours aura lieu le <%= @cour.jour_prochain%> / <%=@cour.mois%> / <%=@cour.annee%> </p>



<p>Cordialement,</p>
<p>La Kamaraderie</p>