<h4>TopNote</h4>

<p>Bonjour <%=@user.infouser.email%>,</p>

<p>Nous te rappelons que tu as cours avec <%=@cour.teacher.infoteacher.email%> demain (<%=@cour.jour%>) à <%=@cour.heure%>. </p>
<p>Lieu du cours: <%=@cour.lieu%></p>

<p>Tu peux contacter <%=@cour.teacher.infoteacher.first_name%> au <%=@cour.teacher.infoteacher.phone%> ou à l’adresse email suivante: <%=@cour.teacher.infoteacher.email%>.</p>

<p>Nous te souhaitons plein de courage et de réussite !</p>

<p>À bientôt,</p>

<p>L’équipe de TopNote.</p>
