<h1>La Kamaraderie</h1>
<h3>Cours de <%= @cour.teacher.infoteacher.first_name %> <%= @cour.teacher.infoteacher.last_name %> </h3>
<p>Nous vous rappelons que vous aurez cours demain de <%=@cour.matiere%> à <%= @cour.heure %>h.</p>
<p>Adresse du cours: <%=@cour.lieu%></p>
<p>À demain</p>