

<p style="color: #000000;">Bonjour <%=@user.infouser.first_name%>,</p>

<p style="color: #000000;">Voici le bilan de ton dernier cours et les consignes pour le cours suivant :</p>

<p style="color: #000000;">Nous te rappelons que ton prochain cours de <%=@cour.matiere%> avec <%=@cour.teacher.infoteacher.first_name%> aura lieu le <%=@cour.date_reg%> à <%=@cour.horaire%>



