<h4>La Kamaraderie</h4>

<p>Bonjour <%=@user.infouser.first_name%>,</p>

<p>Voici le bilan de ton dernier cours et les consignes pour le cours suivant :</p>
<p>« Bonjour XXX, dhawjdk kawdawhduawd na u ada a awda a adbad yakd akd dadjsgduegf   jdnajd dabdkn dvd  hbdkandhd dw dv »</p>

<p>Nous te rappelons que ton prochain cours de <%=@cour.matiere%> avec <%=@cour.teacher.infoteacher.first_name%> aura lieu le <%=@cour.date_reg%> à <%=@cour.horaire%>

<p>Nous te souhaitons plein de courage et de réussite !</p>

<p>À bientôt,</p>

<p>L’équipe de La Kamaraderie.</p>
