
<p style="color: #000000;">Bonjour <%=@user.infouser.email%>,</p>

<p style="color: #000000;">Nous te rappelons que tu as cours avec <%=@cour.teacher.infoteacher.email%> demain (<%=@cour.jour%>) à <%=@cour.heure%>. </p>
<p style="color: #000000;">Lieu du cours: <%=@cour.lieu%></p>

<p style="color: #000000;">Tu peux contacter <%=@cour.teacher.infoteacher.first_name%> au <%=@cour.teacher.infoteacher.phone%> ou à l’adresse email suivante: <%=@cour.teacher.infoteacher.email%>.</p>




