<div class="row justify-content-around mt-5 mx-0 p-3">

  <div class="col-12 col-lg-6" id="devise_subcontent">
    <p class="mb-4" style="font-size: 1.5em">Connexion</p>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><span class="fa fa-envelope-o"></span></span>
          </div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"Email" %>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><span class="fa fa-lock"></span></span>
          </div>
          <%= f.password_field :password, autocomplete: "off", class:"form-control", placeholder:"Mot de passe"%>
        </div>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, 'Se souvenir de moi', class:"control-label" %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Connexion", class: "form-control btn btn-primary" %>
      </div>
    <% end %>

    <%= render "teachers/shared/links" %>
  </div>
</div>
