<h1> Détails du profil </h1>
<% if @infoteacher.present? %>
	<ul>
		<li>Prénom: <%=@infoteacher.first_name %></li>
		<li>Nom: <%=@infoteacher.last_name %></li>
		<li>Email: <%=@infoteacher.email %></li>
		<li>Adresse: <%=@infoteacher.location %></li>
		<li>Téléphone: <%=@infoteacher.phone %></li>
		<li>Expérience: <%=@infoteacher.experience %></li>
		<li>Methodologie: <%=@infoteacher.methodology %></li>
		<li>Stripe: 
			<% if @infoteacher.stripe_id.present? %>
				<span style="color:green">OK</span>
			<% else %>
				<span style="color:red">NON</span>
			<%end%>
		</li>
		<li>Avatar: <%=image_tag @infoteacher.avatar.url(:thumb), :class => "thumbnail"%></li>
		<li>Justificatif d'identité : <%=image_tag @infoteacher.justificatif_identite.url(:medium)%></li>
		<li>Justificatif diplôme : <%=image_tag @infoteacher.justificatif_diplome.url(:medium)%></li>
	</ul>
<% else %>
Aucune info renseignée
<% end %>


<h1> Cours proposés </h1>

<table class="table">
		<tr>
			<th>Matiere</th>
			<th>Jour</th>
			<th>Nb eleves</th>
			<th>Lieu</th>
			<th>Détails des cours</th>
		</tr>
		<% @cours.each do |c| %>
		<tr>
			<td><%=c.matiere%></td>
			<td><%=c.jour%></td>
			<td><%=c.nombre_eleves%></td>
			<td><%=c.lieu%></td>
			<td>
				<%= link_to "Details du cours", {:controller =>"cours", :action=>"show", :id=>c.id}%>
			</td>
			
		</tr>
		<%end%>
</table>