<h1> Détails du profil </h1>
<% if @infoteacher.present? %>
	<ul>
		<li>Prénom: <%=@infoteacher.first_name %></li>
		<li>Nom: <%=@infoteacher.last_name %></li>
		<li>Email: <%=@infoteacher.email %></li>
		<li>Adresse: <%=@infoteacher.location %></li>
		<li>Téléphone: <%=@infoteacher.phone %></li>
		<li>Expérience: <%=@infoteacher.experience %></li>
		<li>Methodologie: <%=@infoteacher.methodology %></li>
		<li>Stripe: 
			<% if @infoteacher.stripe_id.present? %>
				<span style="color:green">OK</span>
			<% else %>
				<span style="color:red">NON</span>
			<%end%>
		</li>
		<li>Avatar: <%=image_tag @infoteacher.avatar.url(:thumb), :class => "thumbnail"%></li>
	</ul>
<% else %>
Aucune info renseignée
<% end %>