<h1> Professeurs validés </h1>

<table class="table">
		<tr>
			<th></th>
			<th>Nom</th>
			<th>Prénom</th>
			<th>email</th>
			<th>Code postal</th>
			<th>Avatar</th>
		</tr>
		<% @validated.each do |c| %>
		<tr>
			<td> <%= link_to "Infos", {:controller => "admin", :action => "teacher_profile", :id => c.id} %></td>
			<td><%=c.infoteacher.try(:first_name)%></td>
			<td><%=c.infoteacher.try(:last_name)%></td>
			<td><%=c.infoteacher.try(:email)%></td>
			<td><%=c.infoteacher.try(:dptm)%></td>
			<td> 
			<% if c.infoteacher.present?%>
				<%=image_tag c.infoteacher.avatar.url(:thumb), :class => "thumbnail"%></td>
			<% end %>
			<td>

				<div style="border:solid 1px black; background-color: blue">
					<p class="text-white">
					<%= link_to "Devalider", {:controller => "admin", :action => "invalidate", :id => c.id, :class =>"link_to"}%>
					</p>
				</div>
			</td>
			<td>
				<div style="border:solid 1px black; background-color: orange">
					<p class="text-white">
						<%= link_to "Blacklister", {:controller => "admin", :action => "detruire_prof", :id => c.id, :class =>"link_to"}%>
					</p>
				</div>
			</td>
			<td>
				<div style="border:solid 1px black; background-color: red;">
					<p class="text-white">
					<%= link_to "Supprimer", {:controller => "admin", :action => "really_detruire_prof", :id => c.id, :class =>"link_to"}%>
					</p>
				</div>
			</td>
		</tr>
		<%end%> 
</table>

