<h1> Professeurs validés </h1>

<table class="table">
		<tr>
			<th></th>
			<th>Nom</th>
			<th>Prénom</th>
			<th>email</th>
			<th>Code postal</th>
			<th>Avatar</th>
		</tr>
		<% @validated.each do |c| %>
		<tr>
			<td> <%= link_to "Infos", {:controller => "admin", :action => "teacher_profile", :id => c.id} %></td>
			<td><%=c.infoteacher.try(:first_name)%></td>
			<td><%=c.infoteacher.try(:last_name)%></td>
			<td><%=c.infoteacher.try(:email)%></td>
			<td><%=c.infoteacher.try(:dptm)%></td>
			<td> 
			<% if c.infoteacher.present?%>
				<%=image_tag c.infoteacher.avatar.url(:thumb), :class => "thumbnail"%></td>
			<% end %>
			<td>
				<div class="btn btn-danger">
					<%= link_to "Devalider", {:controller => "admin", :action => "invalidate", :id => c.id, :class =>"btn"}%>
				</div>
			</td>
			<td>
				<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
					Supprimer
				</button>

				<!-- Modal -->
				<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLabel">Supprimer</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        Supprimer ce prof.
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
				       <%= link_to "Supprimer", {:controller => "admin", :action => "detruire_prof", :id => c.id, :class =>"btn btn-danger"}%>
				      </div>
				    </div>
				  </div>
				</div>
			</td>
		</tr>
		<%end%>
</table>

