<%= render partial: "shared/sousmenu", locals: {tabname:"mescours"}  %>
<!-- Espace Eleves-->

<% if user_signed_in? %>
	
	<!-- Nouveau design !!!! -->

	<%@inscriptions.each do |inscription| %>
		<div class="row justify-content-center mt-4">
			<div class="col-12 col-lg-6">	
				<div id="annonce">
					<div class="row">

					<!-- Avatars prof et élèves-->	
						<div class="col-sm-5 justify-content-center">
							<div class="row">
								<div class="col-2" >
									<div style="background-color: #e55966; height: 30px; width: 50px; border-top-left-radius: 10px">
										<!-- Prix à rendre variable -->
										<p class="text-white">17€</p>
									</div>			
								</div>
								<div class="col-10">
									<!-- Ligne correspondant au bloc image prof-->
									<div class="row">
										<div class="col" style="margin-top: 15px">
											<%=image_tag inscription.cour.teacher.infoteacher.avatar.url(:thumb), :class => "thumbnail2"%>
											<div class="row justify-content-center">
												<div class="col-10">	
												<!-- NOTATION ENSEIGNANT						
													<div class="d-flex">
														<div style="color: #ffc400">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>
													</div>
												-->
													<div class="d-flex">
														<div style="color: rgba(76, 175, 80, 0.7)">
															<i class="fa fa-check-circle-o"></i>
														</div>
														<div>
															<p class="ml-2" style="font-size: 90%">Profil vérifié</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- Ligne correspondant au bloc image élèves-->
									<div class="row justify-content-center">
										<% if inscription.cour.nombre_eleves == 2%>
												<div class="col">
													<div class="avatar_occupe">
														<i class="fa fa-user-circle-o"></i>
													</div>
												</div>
												<div class="col">
													<div class="avatar_occupe">
														<i class="fa fa-user-circle-o"></i>
													</div>
												</div>										
												<div class="col">
													<div class="avatar_libre">
														<i class="fa fa-user-circle-o"></i>
													</div>
												</div>
											<!-- Cas où 3 eleves sont inscrits -->
											<% elsif inscription.cour.nombre_eleves == 3 %>		
												<div class="col-3">
													<div class="avatar_occupe">
														<i class="fa fa-user-circle-o"></i>
													</div>
												</div>
												<div class="col-3">
													<div class="avatar_occupe">
														<i class="fa fa-user-circle-o"></i>
													</div>
												</div>											
												<div class="col-3">
													<div class="avatar_occupe">
														<i class="fa fa-user-circle-o"></i>
													</div>
												</div>
											<!-- Cas où 1 eleve est déjà inscrit -->
											<% elsif inscription.cour.nombre_eleves == 1 %>		
												<div class="col-3">
													<div class="avatar_occupe">
														<i class="fa fa-user-circle-o"></i>
													</div>
												</div>
												<div class="col-3">
													<div class="avatar_libre">
														<i class="fa fa-user-circle-o"></i>
													</div>
												</div>											
												<div class="col-3">
													<div class="avatar_libre">
														<i class="fa fa-user-circle-o"></i>
													</div>
												</div>
											<!-- Aucun eleves d'inscrit -->
											<% else %>
												<div class="col">
													<div class="avatar_libre">
														<i class="fa fa-user-circle-o"></i>
													</div>
												</div>
												<div class="col">
													<div class="avatar_libre">
														<i class="fa fa-user-circle-o"></i>
													</div>
												</div>										
												<div class="col">
													<div class="avatar_libre">
														<i class="fa fa-user-circle-o"></i>
													</div>
												</div>
											<% end %>	
									</div> 
								</div>
							</div>
						</div>
					<!-- Caractéristiques du cours-->
						<div class="col-sm-7">
							<h5 class="mt-2 mb-4"> </h5>
							<div class="d-flex py-0">
								<div class="px-4 align-self-start" style="width:50px">
									<i class="fa fa-calendar fa-lg"></i>
								</div>
								<div class="px-4 align-self-end">
									<% if (inscription.cour.jour.present? and inscription.cour.heure.present?) %>
										<p class="text-capitalize">
											<% if inscription.cour.min == 0 %>
												<%=inscription.cour.jour%> | <%=inscription.cour.heure %>h - <%=inscription.cour.heure+1 %>h30
											<% else %>
												<%=inscription.cour.jour%> | <%=inscription.cour.heure %>h30 - <%=inscription.cour.heure+2 %>h
											<% end %>
										</p>
									<% else %>
										<p>Plusieurs créneaux possibles</p>
									<% end %>
								</div>
							</div>
							<div class="d-flex mb-0">
								<div class="px-4 align-self-start" style="width:50px">
									<i class="fa fa-book fa-lg"></i>
								</div>
								<div class="pl-4 align-self-end">
									<p class="text-capitalize"><%= inscription.cour.matiere %>
									<%inscription.cour.annees.each do |n| %>
								 		| <%= Correspondance.find_by_niveau_id(n.niveau).nom%>	
									<%end%>	
									</p>
								</div>
							</div>
							<div class="d-flex">
								<div class="px-4 align-self-start" style="width:50px">
									<i class="fa fa-map-marker fa-lg"></i>
								</div>
								<div class="pl-4 align-self-end">
									<p class="text-capitalize"><%= inscription.cour.lieu_court %>
								</div>
							</div>
							<div class="d-flex">
								<div class="px-4 align-self-start" style="width:50px">
									<i class="fa fa-users fa-lg"></i>
								</div>
								<div class="px-4 align-self-end">
									<% if inscription.cour.nombre_eleves<2 %>
										<p><%= 3-inscription.cour.nombre_eleves %> places disponibles</p>
									<% else %>
										<p><%= 3-inscription.cour.nombre_eleves %> place disponible</p>
									<% end %>
								</div>
							</div>
						</div>
					</div>			
				</div>
				<!-- Boutons "détails du cours" et "se désabonner"-->
				<div class="row justify-content-center" >
					<div class="col-4">
						<div style="border-bottom-left-radius: 30px; border-bottom-right-radius: 30px; background: #e55966; height:40px">
							<p class="text-white">
								<%= link_to "Details du cours", {:controller =>"cours", :action=>"show", :id=>inscription.cour.id}, class:"link_to btn"%>
							</p>				
						</div>
					</div>
					<!--  Modal pour se désabonner-->
					<div class="col-4">
						<div style="border-bottom-left-radius: 30px; border-bottom-right-radius: 30px; background: #e55966; height:40px">
							<button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal">
					  		Me désabonner
							</button>

							<!-- Modal -->
							<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content">
							      <div class="modal-header">
							        <h5 class="modal-title" id="exampleModalLabel">Me désabonner</h5>
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          <span aria-hidden="true">&times;</span>
							        </button>
							      </div>
							      <div class="modal-body">
							        Je confirme mon souhait de me désabonner du cours. En soumettant ce choix, je ne serai plus assuré de retrouver une place libre pour ce groupe de travail.
							      </div>
							      <div class="modal-footer">
							        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
							        <%= link_to "Me désabonner", {:controller =>"pages", :action=>"medesabonner", :id=>inscription.id}, class:"btn btn-danger"%>
							      </div>
							    </div>
							  </div>
							</div>
						</div>
					</div>

					

					<!--Fin du modal -->
				</div>	
			</div>
		</div>
	<% end %>


<!-- Espace Prof -->

<% elsif teacher_signed_in? %>
	
	<div class="row justify-content-center mt-4">
		<div class="col-12 col-lg-8">
	<% if current_teacher.role.power == 0 %>

		<p>Vous pourrez créer des cours dès lors que nous aurons validé votre profil. Cela peut prendre jusqu'à 48h. </p>

	<% elsif @cours_proposes.length < 1 %>
		<div class="row justify-content-center">
			<p>Vous n'avez pas encore créé d'annonces.</p>
			<button type="button" class="btn btn-primary">Créer un cours</button>
		</div>

	<% else %>

		<%@cours_proposes.each do |cour| %>

			<div class="row justify-content-center">

				<div class="col-12 mb-2" style="background-color: #F2F2F2">
					<%= render partial:"annonce", locals:{cours:cour}%>
				</div>

			</div>

		<% end %>

	<% end %>

		</div>
	</div>

<% end %>