<%= render partial: "shared/sousmenu", locals: {tabname:"monprofil"}  %>

<% if teacher_signed_in? %>
	<%=form_tag "/pages/monprofil", method:"post", multipart:true  do %>
	<fieldset class="mb-5"> 

		<div class="row justify-content-center mb-4">
			<div class="col-12 col-lg-11">
				<div class="row justify-content-center mx-0 p-3" style="background-color:#eeeeee">

					<!-- Informations personnelles -->

					<div class="col-12 col-lg-3 p-3">

						<div class="p-3" style="background-color: white; border-radius: 10px; ">

							<p class="mb-3" style="font-size: 1.1em; font-weight: bold">Informations générales</p>
			
							<% if @current_teacher.infoteacher.first_name.present? %>
							<p>
								<input type="text" class="form-control value_success" name="first_name" value='<%=@current_teacher.infoteacher.first_name%>' placeholder="Prénom">
							</p>

							<% else %>
							<p>
								<input type="text" class="form-control value_danger " name="first_name" placeholder="Prénom">	
							</p>		
							<% end %>

							<% if @current_teacher.infoteacher.last_name.present? %>
							<p>
								<input type="text" class="form-control value_success" name="last_name" value='<%= @current_teacher.infoteacher.last_name%>' placeholder="Nom">
							</p>
							<% else %>
							<p>
								<input type="text" class="form-control value_danger" name="last_name" placeholder="Nom">
							</p>
							<% end %>

							
							<% if @current_teacher.infoteacher.email.present? %>
							<p>
								<input type="text" class="form-control value_success" name="email" value='<%= @current_teacher.infoteacher.email%>' disabled>
							</p>
							<% else %>
							<p>
								<input type="text" class="form-control value_danger" name="email" placeholder="Email">
							</p>
							<% end %>

							
							<% if @current_teacher.infoteacher.phone.present? %>
							<p>
								<div class="input-group">
						        	<div class="input-group-prepend">
						            	<span class="input-group-text" style="font-weight: 500; background-color: white">+33</span>
						          	</div>
									<input type="text" pattern=".{9}" class="form-control value_success" name="phone" value='<%= @current_teacher.infoteacher.phone%>'   placeholder="Téléphone">
								</div>
							</p>
							<% else %>
							<p>
								<div class="input-group">
						        	<div class="input-group-prepend">
						            	<span class="input-group-text" style="font-weight: 500; background-color: white">+33</span>
						          	</div>
									<input type="text" pattern=".{9}" class="form-control value_danger " name="phone"   placeholder="Téléphone">
								</div>
							</p>
							<% end %>

						
							<% if @current_teacher.infoteacher.dptm.present? %>
							<p >
								<input type="text" maxlength="5" id="dptm" class="form-control value_success" name="dptm"   value='<%= current_teacher.infoteacher.dptm %>' placeholder="Code postal">
							</p>
							<% else %>
							<p>
								<input type="text" maxlength="5" id="dptm" class="form-control value_danger" name="dptm"   placeholder="Numéro de votre code postal" placeholder="Code postal" >
							</p>
							<% end %>
						</div>
					</div>

					<div class="col-12 col-lg-9">

						<div class="row justify-content-center mx-0">

							<div class="col-12 p-3 pb-0">

								<div class="p-3" style="background-color: white; border-radius: 10px; ">

									<p class="mb-4" style="font-size: 1.1em; font-weight: bold; text-align: start">Votre expérience <span class="rose ml-2" style="font-size: 0.9em">40 mots minimum</span></p>

									<% if @current_teacher.infoteacher.experience.present? %>
									<p>
										<textarea type="text" class="form-control value_success" name="experience" minlength=100 maxlength=600 placeholder="Ex : Je suis ingénieur(e) / professeur... Je donne des cours dans les matières... Je suis professeur au lycée depuis..." ><%= @current_teacher.infoteacher.experience%></textarea> 
									</p>
									<% else %>
									<p>
										<textarea type="text" class="form-control value_danger" name="experience" minlength=100 maxlength=600 placeholder="Ex : Je suis ingénieur(e) / professeur... Je donne des cours dans les matières... Je suis professeur au lycée depuis..."></textarea> 
									</p>
									<% end %>
								</div>
							</div>

							<div class="col-12 p-3 pb-0">

								<div class="p-3" style="background-color: white; border-radius: 10px; ">

									<p class="mb-4" style="font-size: 1.1em; font-weight: bold; text-align: start;">Votre méthodologie <span class="rose ml-2" style="font-size: 0.9em">  40 mots minimum</span></p>

									<% if @current_teacher.infoteacher.methodology.present? %>
									<p>
										<textarea type="text" class="form-control value_success" name="methodology" minlength=100 maxlength=600 placeholder="Ex : Correction des exos de la semaine précédente, relecture du dernier chapitre étudié en cours (10-15 mins) ... "><%= @current_teacher.infoteacher.methodology%></textarea> 
									</p>
									<% else %>
									<p>
										<textarea type="text" class="form-control value_danger" name="methodology" minlength=100 maxlength=600 placeholder="Ex : Correction des exos de la semaine précédente, relecture du dernier chapitre étudié en cours (10-15 mins) ... "></textarea>
									</p>
									<% end %>

								</div>
							</div>
						</div>
					</div>

						<div class="row justify-content-center mx-0">

							<div class="col-11 col-lg-6 p-3">

								<div class="p-2" style="background-color: white; border-radius: 10px; ">

									<p class="mb-4" style="font-size: 1.1em; font-weight: bold; text-align: center;">Justificatif d'identité</p>

									<div class="row justify-content-center mx-0">
										<div class="col-12 col-lg-4">

											<div class="row justify-content-center">
												<%= image_tag "justificatif_identite.png", style:"width:120px; height:120px;" %>
											</div>
											
										</div>
										<div class="col-12 col-lg-8" style="text-align: start">
											<% if @current_teacher.infoteacher.justificatif_identite.present? %>

												<div class="d-flex">
													<div>
														<p style="font-size: 0.9em">Votre justificatif d'identité a bien été enregistré. Pour le modifier :</p>
														<input type="file" class="form-control" name="justificatif_identite" >
													</div>
												</div>

											<% else %>
												<div class="d-flex">
													<div>
														<p style="font-size: 0.9em">Ajouter la photo/scan d'un justificatif d'identité (permis, carte d'identité...) <span style="font-size: 0.8em">formats acceptés: jpg, jpeg, png</span></p>
														<input type="file" class="form-control" name="justificatif_identite"  >
													</div>
												</div>

											<% end %>	


										</div>
									</div>							

								</div>
							</div>

							<div class="col-11 col-lg-6 p-3">

								<div class="p-2" style="background-color: white; border-radius: 10px; ">

									<p class="mb-4" style="font-size: 1.1em; font-weight: bold; text-align: center;">Justificatif de scolarité/diplôme</p>

									<div class="row justify-content-center mx-0">

										<div class="col-12 col-lg-4">
											<%= image_tag "justificatif_diplome.png", style:"width:120px; height:120px;" %>
										</div>

										<div class="col-12 col-lg-8" style="text-align: start">

											<% if @current_teacher.infoteacher.justificatif_diplome.present? %>
												<div class="d-flex">
													<div>
														<p style="font-size: 0.9em">Votre justificatif de scolarité/diplôme a bien été enregistré. Pour le modifier : </p>
														<input type="file" class="form-control" name="justificatif_diplome" >
													</div>
												</div>
											<% else %>
												<div class="d-flex">
													<div>
														<p style="font-size: 0.9em">Ajouter la photo de votre diplôme ou la photo d'un justificatif de scolarité <span style="font-size: 0.8em">formats acceptés: jpg, jpeg, png</span></p>
														<input type="file" class="form-control value_danger" name="justificatif_diplome"  >
													</div>
												</div>
										<% end %>

										</div>

									</div>

								</div>
							</div>


						</div>		
				
				</div>
			</div>

		</div>
			<button type="submit" class=" btn bg-orange mt-1" style="color:white; min-width: 200px;">Enregistrer</button>
	</fieldset>
	<%end%>
	<!-- Update devise registration -->

	<!-- Profil eleve-->
<% elsif user_signed_in? %>

	<div class="row justify-content-center mb-4">
		<div class="col-12 col-lg-8 p-3" style="background-color: #eeeeee; border-radius: 15px;">

			<%=form_tag "/pages/monprofil", method:"post" do %>
			<fieldset>

				<% if @current_user.infouser.first_name.present? %>
				<p>
					<label for="first_name"> Prénom </label>
					<input type="text" class="form-control value_success" name="first_name" value='<%=@current_user.infouser.first_name%>'>
				</p>
				<% else %>
					<label for="first_name"> Prénom </label>
					<input type="text" class="form-control value_danger" name="first_name" >			
				<% end %>

				<% if @current_user.infouser.last_name.present? %>
				<p>
					<label for="last_name"> Nom </label>
					<input type="text" class="form-control value_success" name="last_name" value='<%= @current_user.infouser.last_name%>'>
				</p>
				<% else %>
				<p>
					<label for="last_name"> Nom </label>
					<input type="text" class="form-control value_danger" name="last_name">
				</p>
				<% end %>
				<!-- Classe-->
				<!--
				<p>
					<label for="classe">Quelle classe ?</label>
					<select name="classe" class="form-control">
						<option disabled selected>Quelle classe ?</option>
						<optgroup label="Collège">
							<option value="1">6ème</option>
							<option value="2">5ème</option>
							<option value="3">4ème</option>
							<option value="4">3ème</option>
						</optgroup>
						<optgroup label="Lycée">
							<option value="5">2nde</option>
							<option value="6">1ère S</option>
							<option value="7">1ère ES</option>
							<option value="8">1ère L</option>
							<option value="9">Terminale S</option>	
							<option value="10">Terminale ES</option>
							<option value="11">Terminale L</option>
						</optgroup>
					</select>
				</p>
				-->
				<% if @current_user.infouser.niveau.present? %>
					<p>			
						<label for="niveau">Classe</label>
						<%= select_tag(:niveau, grouped_options_for_select(
							[
								['Collège',
									[['6ème',1],['5ème',2],['4ème',3],['3ème',4]]
								],
								['Lycée',
									[['2nde',5],['1ère S', 6], ['1ère ES',7], ['1ère L',8], ['Terminale S',9], ['Terminale ES', 10], ['Terminale L',11]]
								]
							],@current_user.infouser.niveau), class:"form-control value_success") %>
					</p>
				<% else %>
					<p>			
						<label for="niveau">Classe</label>
						<%= select_tag(:niveau, grouped_options_for_select(
							[	['',
									[['',nil]]
							],
								['Collège',
									[['6ème',1],['5ème',2],['4ème',3],['3ème',4]]
								],
								['Lycée',
									[['2nde',5],['1ère S', 6], ['1ère ES',7], ['1ère L',8], ['Terminale S',9], ['Terminale ES', 10], ['Terminale L',11]]
								]
							]), class:"form-control value_danger") %>
					</p>
				<% end %>

				<!-- Fin classe -->

				<% if @current_user.infouser.email.present? %>
				<p>
					<label for="email"> Email </label>
					<input type="text" class="form-control value_success" name="email" value='<%= @current_user.infouser.email%>' disabled>
				</p>
				<% else %>
				<p>
					<label for="email"> Email </label>
					<input type="text" class="form-control value_danger" name="email">
				</p>
				<% end %>

				<% if @current_user.infouser.phone.present? %>
				<p>
					<label for="phone"> Téléphone </label>
					<div class="input-group">
			        	<div class="input-group-prepend">
			            	<span class="input-group-text" style="font-weight: 500; background-color: white">+33</span>
			          	</div>
						<input type="text" class="form-control value_success" name="phone" value='<%=@current_user.infouser.phone%>' >
					</div>
				</p>
				<% else %>
				<p>
					<label for="phone"> Téléphone </label>
					<div class="input-group">
			        	<div class="input-group-prepend">
			            	<span class="input-group-text" style="font-weight: 500; background-color: white">+33</span>
			          	</div>
						<input type="text" class="form-control value_danger " name="phone">
					</div>
				</p>
				<% end %>



			</fieldset>
			<button type="submit" class=" btn btn-primary">Envoyer</button>
			<% end %>
		</div>
	</div>

<% end %>

