<%= render partial: "shared/sousmenu", locals: {tabname:"paiement"} %>

<% if teacher_signed_in? %>
    <% if current_teacher.infoteacher.stripe_id.present? and current_teacher.role.power<1 %>
        <p>Votre compte Stripe a bien été créé. Nous allons vous contacter sous 24H pour terminer votre inscription.</p>
        <p>Pour modifier votre compte Stripe, cliquez sur le lien suivant :
        <a target="_blank" href="https://stripe.com/fr">Modifier mon compte Stripe</a></p>


    <% elsif current_teacher.infoteacher.stripe_id.present? and current_teacher.role.power==1%>


        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                Pour modifier votre compte Stripe, cliquez sur le lien suivant :
                <a target="_blank" href="https://stripe.com/fr">Modifier mon compte Stripe</a>
            </div>
            <div class="col-12 col-lg-10 mt-4">
                <h5>Historique des paiements</h5>
            </div>
            <div class="col-12 col-lg-10 mt-4">
                <table class="table">
                    <tr>   
                        <th>Élève</th>
                        <th>Matière</th>
                        <th>Montant</th>
                        <th>Date</th>
                    </tr>
                    <% @paiements.each do |p| %>
                        <tr>
                            <td> 
                                <%=p.user.infouser.try(:first_name)%> <%=p.user.infouser.try(:last_name)%>
                            </td>
                            <td><%=p.lesson.cour.matiere %></td>
                            <td><%=p.amount_prof/100%> €</td>
                            <td><%=p.created_at.strftime("%d-%m-%Y") %></td>
                        </tr>
                    <% end %>
                </table>
            </div>
        </div>

    <% else%>

        <div class="row justify-content-center mt-4">
            <div class="col-12 col-lg-8"> 

                <div class="row justify-content-center">

                    <!-- EXPLICATION DE STRIPE -->
                    <section class="row justify-content-center">



                        <p style="font-size: 1.2em">Nous utilisons le service de paiement <%= image_tag "stripe.png", size: "60x20"%> pour automatiser et sécuriser les paiements.</p>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12">
                                    <p style="font-size: 1.1em; font-weight: bold; text-align: left">Qu'est ce que Stripe ?</p>
                                </div>
                                <div class="col-12">
                                    <p style="text-align: left">Stripe est une solution de paiement en ligne externalisée et sécurisée. Aujourd'hui, plus de 100 000 entreprises font confiance à Stripe dont Adidas, Deliveroo, Heetch ou encore Amazon.</p>
                                    <p>
                                        <%= image_tag "StripeExamples.png", size:"700x100"%>
                                    </p>
                                </div>
                                <div class="col-12">
                                    <p style="font-size: 1.1em; font-weight: bold ; text-align: left">Comment ça marche ?</p>
                                </div>
                                <div class="col-12">
                                    <p style="text-align: left">Nous prélevons chaques élève 48h avant le début du cours et nous vous transférons l'argent 24h après le cours.</p>
                                </div>
                                <div class="col-12">
                                    <p style="font-size: 1.1em; font-weight: bold; text-align: left">Comment créer son compte ?</p>
                                </div>
                                <div class="col-12">
                                    <p style="text-align: left">Il vous suffit de créer votre compte Stripe en cliquant sur "Créer" ci-dessous et de remplir les informations demandées en suivant le guide de création ci-dessous.</p>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="row">
                        <div class="col-12 row justify-content-center align-items-center p-3">

                                <div class="col-12 col-md-6 col-md-auto row justify-content-center">
                                    <div class="col-auto flex-row justify-content-around align-items-center">
                                        <a target="_blank" href="<%=ENV["STRIPE_TEST_OAUTH"]%>">
                                            <%= image_tag "ico/Plus.png", :class=>"ico-plus" %>
                                        </a>
                                    </div>
                                    <h3 class="col-12 text-center text-secondary"><a target="_blank" href="<%=ENV["STRIPE_TEST_OAUTH"]%>">Créer</a></h3>
                                    <div class="col-12 text-center">votre compte Stripe en cliquant sur le lien ci-dessus</div>
                                </div>
                        </div>
                        <div class="col-12 row justify-content-center">
                            <h2 class="col-12 text-secondary text-center">Guide de création de votre compte Stripe</h2>
                            <div class="col-12 row text-center justify-content-center align-items-center">
                                <ul class="infos text-left mt-3">
                                    <li>
                                        <%= image_tag "ico/info_rose.png", :class=>"ico-infos mr-3" %>
                                        <strong>Votre compte sera validé que lorsque
                                        votre compte Stripe sera créé.</strong>
                                    </li>
                                    <li>
                                        <%= image_tag "ico/info_rose.png", :class=>"ico-infos mr-3" %>
                                        <strong>Munissez vous de votre IBAN pour créer votre
                                        compte Stripe.</strong>
                                    </li>
                                    <li>
                                        <%= image_tag "ico/info_rose.png", :class=>"ico-infos mr-3" %><strong>Ci-dessous le guide création pour créer votre
                                        compte Stripe</strong>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 row justify-content-center">
                                <div class="col-12 col-md-auto">
                                    <%= image_tag "Inscription_stripe_1.png", :class=>"img-fluid" %>
                                </div>
                                <p class="col-12 text-center">La description de votre activité est <span class="rose">"Soutien scolaire"</span></p>
                                <p class="col-12 text-center">Votre site est : <span class="rose">"lakamaraderie.fr"</span></p>
                            </div>
                            <div class="col-12 row justify-content-center">
                                <div class="col-12 col-md-auto">
                                    <%= image_tag "Inscription_stripe_2.png", :class=>"img-fluid" %>
                                </div>
                                <p class="col-12 text-center">Le type d'organisation qui vous concerne est <span class="rose">"Particulier /
                                    Micro-entrepreneur / Auto-entrepreneur</span></p>
                                <p class="col-12 text-center">L'adresse de votre entreprise est votre adresse postale. Dans cet exemple, l'adresse de Monsieur
                                    DUPONT Alexis est : <span class="rose">"10 rue de Rivoli, 75002, Paris"</span></p>
                            </div>
                            <div class="col-12 row justify-content-center">
                                <div class="col-12 col-md-auto">
                                    <%= image_tag "Inscription_stripe_3.png", :class=>"img-fluid" %>
                                </div>
                                <p class="col-12 text-center">Dans cette première partie, vous devez remplir vos informations
                                    personnelles.</p>
                                <p>Exemple: Monsieur DUPONT Alexis, professeur habitant au <span class="rose">"10 rue de Rivoli."</span></p>
                            </div>
                            <div class="col-12 row justify-content-center">
                                <div class="col-12 col-md-auto">
                                    <%= image_tag "Inscription_stripe_4.png", :class=>"img-fluid" %>
                                </div>
                                <p class="col-12 text-center">Vous êtes libre de choisir le nom de votre entreprise, le plus courant est
                                d'indiquer votre nom et prénom comme dans l'exemple ci-dessus: <span class="rose">"Alexis DUPONT"</span></p>
                            </div>
                            <div class="col-12 row justify-content-center">
                                <div class="col-12 col-md-auto">
                                    <%= image_tag "Inscription_stripe_5.png", :class=>"img-fluid" %>
                                </div>
                                <p class="col-12 text-center">
                                    <strong>Veuillez indiquer votre IBAN afin de recevoir
                                    automatiquement votre rémunération.</strong>
                                </p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    <%end%>
<% elsif user_signed_in? %>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
            <h5>Historique des paiements</h5>
        </div>
        <div class="col-12 col-lg-10 mt-4">
            <table class="table">
                <tr>   
                    <th>Professeur</th>
                    <th>Matiere</th>
                    <th>Montant</th>
                    <th>Date</th>
                </tr>
                <% @paiements.each do |p| %>
                    <tr>
                        <td> 
                            <span>
                            <%=image_tag p.teacher.infoteacher.avatar.url(:thumb), :class => "thumbnail1"%> 
                            </span>
                            <%=p.teacher.infoteacher.try(:first_name)%> <%=p.teacher.infoteacher.try(:last_name)%>
                        </td>
                        <td><%=p.lesson.cour.matiere %></td>
                        <td><%=p.amount_eleve/100%> €</td>
                        <td><%=p.created_at.strftime("%d-%m-%Y") %></td>
                    </tr>
                <% end %>
            </table>
        </div>
    </div>
<% end %>

