<%= render partial: "shared/sousmenu", locals: {tabname:"paiement"} %>

<% if teacher_signed_in? %>
    <% if current_teacher.infoteacher.stripe_id.present? and current_teacher.role.power<1 %>
        <p>Votre compte Stripe a bien été créé. Nous allons vous contacter sous 24H pour terminer votre inscription.</p>
        <p>Pour modifier votre compte Stripe, cliquez sur le lien suivant :
        <a target="_blank" href="https://stripe.com/fr">Modifier mon compte Stripe</a></p>


    <% elsif current_teacher.infoteacher.stripe_id.present? and current_teacher.role.power==1%>


        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                Pour modifier votre compte Stripe, cliquez sur le lien suivant :
                <a target="_blank" href="https://stripe.com/fr">Modifier mon compte Stripe</a>
            </div>
            <div class="col-12 col-lg-10 mt-4">
                <h5>Historique des paiements</h5>
            </div>
            <div class="col-12 col-lg-10 mt-4">
                <table class="table">
                    <tr>   
                        <th>Élève</th>
                        <th>Matière</th>
                        <th>Montant</th>
                        <th>Date</th>
                    </tr>
                    <% @paiements.each do |p| %>
                        <tr>
                            <td> 
                                <%=p.user.infouser.try(:first_name)%> <%=p.user.infouser.try(:last_name)%>
                            </td>
                            <td><%=p.lesson.cour.matiere %></td>
                            <td><%=p.amount_prof/100%> €</td>
                            <td><%=p.created_at.strftime("%d-%m-%Y") %></td>
                        </tr>
                    <% end %>
                </table>
            </div>
        </div>

    <% else%>

        <div class="row justify-content-center mt-4 mb-4">
            <div class="col-12 col-lg-10"> 

                <div class="row justify-content-center">

                    <!-- EXPLICATION DE STRIPE -->
                    <section class="row justify-content-center">

                        <div class="col-12 mt-3" style="text-align: center">
                            <%= image_tag "stripe.png", size: "240x80"%> 
                        </div>

                        <div class="col-12 mt-3" style="text-align: center">
                         <p style="font-size: 1.2em">Nous utilisons le service de paiement Stripe pour automatiser et sécuriser vos rémunérations.</p>
                        </div>

                        <div class="col-12 mt-3" style="text-align: center">
                            <div class="btn bg-rose" style="border-radius: 20px; padding-left:30px; padding-right: 30px;">
                                <a target="_blank" href="<%=ENV["STRIPE_OAUTH"]%>" style="color:white;">
                                    Créer mon compte Stripe
                                </a>
                            </div>
                        </div>

                        <div class="col-12 mt-3 text-center justify-content-center align-items-center" style="text-align: center">
                                <ul class="infos text-left mt-3">
                                    <li>
                                        <%= image_tag "ico/info_rose.png", :class=>"ico-infos mr-3" %>
                                        <strong>Votre compte TopNote ne sera validé que lorsque
                                        votre compte Stripe sera créé.</strong>
                                    </li>
                                    <li style="line-height: 70px">
                                        <%= image_tag "ico/info_rose.png", :class=>"ico-infos mr-3" %>
                                        <strong>Vous recevrez votre rémunération dans un délai maximum de 5 jours ouvrés après le cours.</strong>
                                    </li>
                                    <li>
                                        <%= image_tag "ico/info_rose.png", :class=>"ico-infos mr-3" %>
                                        <strong>Lors de la création de votre compte Stripe :</strong>
                                        <ul class="mt-4 mb-4" style="text-align: left; padding-left: 70px;"> 
                                            <li><span class="fa fa-circle"></span>Munissez vous de votre IBAN</li>
                                            <li><span class="fa fa-circle"></span>Choisissez le statut de "Particulier/Micro-entrepreneur/Auto-entrepreneur"</li>
                                            <li><span class="fa fa-circle"></span>L'adresse de l'entreprise correspond à votre adresse postale</li>
                                            <li><span class="fa fa-circle"></span>Le nom de votre entreprise correspond à votre Nom et Prénom</li>
                                            <li><span class="fa fa-circle"></span>Le numéro de SIRET et de SIREN sont optionnels</li>
                                        </ul>
                                    </li>
                                    <li style="line-height: 70px">
                                        <%= image_tag "ico/info_rose.png", :class=>"ico-infos mr-3" %><strong>Pour toutes informations supplémentaires, référrez-vous au <a href="/annexe/Guide" classe="rose" target="_blank">guide de création</a> .
                                        </strong>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-12 mt-3">
                                <p style="font-size: 1.2em; font-weight: bold">Ils utilisent Stripe... </p>
                                <p>
                                    <%= image_tag "Stripe_clients.png", class:"img-fluid"%>
                                </p>
                            </div>


                        
                </div>
            </div>
        </div>
    <%end%>
<% elsif user_signed_in? %>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
            <h5>Historique des paiements</h5>
        </div>
        <div class="col-12 col-lg-10 mt-4">
            <table class="table">
                <tr>   
                    <th>Professeur</th>
                    <th>Matiere</th>
                    <th>Montant</th>
                    <th>Date</th>
                </tr>
                <% @paiements.each do |p| %>
                    <tr>
                        <td> 
                            <span>
                            <%=image_tag p.teacher.infoteacher.avatar.url(:thumb), :class => "thumbnail1"%> 
                            </span>
                            <%=p.teacher.infoteacher.try(:first_name)%> <%=p.teacher.infoteacher.try(:last_name)%>
                        </td>
                        <td><%=p.lesson.cour.matiere %></td>
                        <td><%=p.amount_eleve/100%> €</td>
                        <td><%=p.created_at.strftime("%d-%m-%Y") %></td>
                    </tr>
                <% end %>
            </table>
        </div>
    </div>
<% end %>

