<%= render partial: "shared/sousmenu", locals: {tabname:"paiement"} %>

<% if teacher_signed_in? %>
    <% if current_teacher.infoteacher.stripe_id.present? and current_teacher.role.power<1 %>
        <p>Votre compte Stripe a bien été créé. Nous allons vous contacter sous 24H pour terminer votre inscription.</p>
        <p>Pour modifier votre compte Stripe, cliquez sur le lien suivant :
        <a target="_blank" href="https://stripe.com/fr">Modifier mon compte Stripe</a></p>


    <% elsif current_teacher.infoteacher.stripe_id.present? and current_teacher.role.power==1%>


        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                Pour modifier votre compte Stripe, cliquez sur le lien suivant :
                <a target="_blank" href="https://stripe.com/fr">Modifier mon compte Stripe</a>
            </div>
            <div class="col-12 col-lg-10 mt-4">
                <h5>Historique des paiements</h5>
            </div>
            <div class="col-12 col-lg-10 mt-4">
                <table class="table">
                    <tr>   
                        <th>Élève</th>
                        <th>Matière</th>
                        <th>Montant</th>
                        <th>Date</th>
                    </tr>
                    <% @paiements.each do |p| %>
                        <tr>
                            <td> 
                                <%=p.user.infouser.try(:first_name)%> <%=p.user.infouser.try(:last_name)%>
                            </td>
                            <td><%=p.lesson.cour.matiere %></td>
                            <td><%=p.amount_prof/100%> €</td>
                            <td><%=p.created_at.strftime("%d-%m-%Y") %></td>
                        </tr>
                    <% end %>
                </table>
            </div>
        </div>

    <% else%>

        <div class="row justify-content-center mt-4 mb-4">
            <div class="col-12 col-lg-11"> 

                <div class="row justify-content-center">

                    <!-- EXPLICATION DE STRIPE -->
                    <section class="row justify-content-center" >

<!--
                        <div class="col-12 mt-3" style="text-align: center">
                            <%= image_tag "stripe.png", size: "120x40"%> 
                        </div>
-->
                        <div class="col-12 mt-3">
                             <p style="font-size: 1.1em; text-align: left"><%= image_tag "ico/info_rose.png", :class=>"ico-infos mr-3" %> Nous utilisons le service de paiement <a href="https://stripe.com/"><%= image_tag "stripe.png", size: "60x20"%> </a> (équivalent de Paypal) pour automatiser et sécuriser vos rémunérations.</p>
                             <p style="font-size: 1.1em; text-align: left"><%= image_tag "ico/info_rose.png", :class=>"ico-infos mr-3" %> Avant de créer votre compte Stripe, munissez-vous de votre IBAN et lisez les informations ci-dessous :</p>
                        </div>



                        <div class="col-12 mt-3 text-center justify-content-center align-items-center" style="text-align: center">
                            <div class="row justify-content-center p-3" >
                                <div class="col-12 col-lg-6 p-3" style="background-color:#FFF2DE ; color:black;">
                                    <p style="font-weight: bold; font-size: 1.1em">Si vous êtes un particulier</p>
                                    <ul class="infos text-left mt-3">
                                        <li>
                                            <ul class="mt-4 mb-4" style="text-align: left;"> 
                                                <li><span class="fa fa-circle pr-4"></span>Choisissez le statut de "Particulier/Micro-entrepreneur/Auto-entrepreneur"</li>
                                                <li><span class="fa fa-circle pr-4"></span>L'adresse de l'entreprise correspond à votre adresse postale</li>
                                                <li><span class="fa fa-circle pr-4"></span>Le nom de votre entreprise correspond à votre Nom et Prénom</li>
                                                <li><span class="fa fa-circle pr-4"></span>Ne rien renseigner pour les champs SIRET et SIREN</li>
                                            </ul>
                                        </li>
                                    <!--
                                    <li style="line-height: 70px">
                                        <%= image_tag "ico/info_rose.png", :class=>"ico-infos mr-3" %><strong>Pour toutes informations supplémentaires, référrez-vous au <a href="/annexe/Guide" classe="rose" target="_blank">guide de création</a> .
                                        </strong>
                                    </li>
                                    -->
                                    </ul>
                                </div>
                                <div class="col-12 col-lg-6 p-3 "  style="background-color: #FDE0E0; color: black;">
                                    <p style="font-weight: bold; font-size: 1.1em">Si vous êtes un auto-entrepreneur :</p>
                                    <ul class="infos text-left mt-3">
                                        <li>
                                            
                                            <ul class="mt-4 mb-4" style="text-align: left;"> 
                                                <li><span class="fa fa-circle pr-4"></span>Choisissez le statut de "Particulier/Micro-entrepreneur/Auto-entrepreneur"</li>
                                                <li><span class="fa fa-circle pr-4"></span>Renseignez l'adresse de votre entreprise</li>
                                                <li><span class="fa fa-circle pr-4"></span>Renseignez la dénomination sociale de votre ent4eprise</li>
                                                <li><span class="fa fa-circle pr-4"></span>Renseignez vos numéros de SIRET ET SIREN</li>
                                            </ul>
                                        </li>
                                        <!--
                                        <li style="line-height: 70px">
                                            <%= image_tag "ico/info_rose.png", :class=>"ico-infos mr-3" %><strong>Pour toutes informations supplémentaires, référrez-vous au <a href="/annexe/Guide" classe="rose" target="_blank">guide de création</a> .
                                            </strong>
                                        </li>
                                    -->
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 mt-3">
                            <p style="font-size: 0.8em; text-align: left">Si vous souhaitez obtenir le statut d'auto-entrepreneur, vous pouvez faire la démarche <a href="https://www.cfe.urssaf.fr">ici</a></p>
                        </div>

                        <div class="col-12 mt-3" style="text-align: center">
                            <div class="btn bg-rose" style="border-radius: 20px; padding-left:30px; padding-right: 30px;">
                                <a target="_blank" href="<%=ENV["STRIPE_OAUTH"]%>" style="color:white;">
                                    Créer mon compte Stripe
                                </a>
                            </div>
                        </div>



                        <div class="col-12 mt-5">
                            <p class="mb-0" style="font-size: 1.2em; font-weight: bold">Ils utilisent Stripe... </p>
                            <p class="mt-0">
                                <%= image_tag "Stripe_clients.png", class:"img-fluid"%>
                            </p>
                        </div>

                    </section>
                        
                </div>
            </div>
        </div>
    <%end%>
<% elsif user_signed_in? %>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
            <h5>Historique des paiements</h5>
        </div>
        <div class="col-12 col-lg-10 mt-4">
            <table class="table">
                <tr>   
                    <th>Professeur</th>
                    <th>Matiere</th>
                    <th>Montant</th>
                    <th>Date</th>
                </tr>
                <% @paiements.each do |p| %>
                    <tr>
                        <td> 
                            <span>
                            <%=image_tag p.teacher.infoteacher.avatar.url(:thumb), :class => "thumbnail1"%> 
                            </span>
                            <%=p.teacher.infoteacher.try(:first_name)%> <%=p.teacher.infoteacher.try(:last_name)%>
                        </td>
                        <td><%=p.lesson.cour.matiere %></td>
                        <td><%=p.amount_eleve/100%> €</td>
                        <td><%=p.created_at.strftime("%d-%m-%Y") %></td>
                    </tr>
                <% end %>
            </table>
        </div>
    </div>
<% end %>

<!--
 <%= image_tag "ico/info_rose.png", :class=>"ico-infos mr-3" %>
-->