<%= link_to cours_show_path(:id => cours.id), style:"color:#444A55" do%>
<div  id="annonce" style="position: relative;">
	<div class="d-none d-lg-block d-xl-none" style="position: absolute; top: 20%; left: 30%; border: solid 1px #e55966; height: 170px"></div>
	<div class="row" >
		<% if cours.nombre_eleves == 3 %>
			<div style="
			  display: flex;
		      justify-content: center;
		      align-items: center;
		      position: absolute;
		      top:0;
		      left:0;
		      width:100%;
		      height: 100%;
		      z-index: 2;
		      opacity: 0;
		      background: rgba(39, 42, 43, 0.8);
		      border-radius: 4px;
		      opacity: 0.8;
			">
				<div>			
					<p style="font-weight: bold; color:white; font-size: 1.2em;">Cours complet</p>
				</div>
			</div>
		<%end%>

	<!-- Avatars prof et élèves-->	
		<div class="col-12 col-lg-4">
			<div class="row">
				<div class="col-2">
					<% if cours.nombre_eleves<3 %>
						<div style="background-color: #e55966; height: 30px; width: 50px; border-bottom-right-radius: 10px">
							<p class="text-white">15€/h</p>
						</div>	
					<% else %>
						<%= image_tag "ico/complet.png" , :class=>"iconespetits"%>
					<% end %>		
				</div>
			</div>
			<div class="row justify-content-center">
				
				<div class="col-10">
						<!-- Ligne correspondant au bloc image prof-->
						<div class="row justify-content-center">
							<div class="col">
								<%=image_tag Teacher.find(cours.teacher_id).infoteacher.avatar.url(:thumb), :class => "thumbnail2"%>
								<div class="row justify-content-center mt-2">
									<div class="col-12">
										<div style="font-weight: bold;">
											<%=cours.teacher.infoteacher.first_name.capitalize%> <%=cours.teacher.infoteacher.last_name.capitalize[0]%>.
										</div>
									</div>
									<div class="row justify-content-center mt-1">
										<div class="col-12">
										<!--	AVIS ENSEIGNANT						
											<div class="d-flex">
												<div style="color: #ffc400">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
											</div>
										-->
											<div class="d-flex">
												<div style="color: #e55966">
													<i class="fa fa-check"></i>
												</div>
												<div>
													<p class="ml-1" style="font-size: 90%">Profil vérifié</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

					</div>
				</div>
			</div>
		</div>
	<!-- Caractéristiques du cours-->
		<div class="col-12 col-lg-8 px-5 p-lg-2 mt-0">
			<div class="row mb-1 ">
				<div class="col-12">
					<p class="mt-3 text-capitalize" style="text-align: start; font-weight: bold; font-size: 1.2em"><%=cours.matiere%>
						<%cours.annees.each do |n| %>
							| <%= Correspondance.find_by_niveau_id(n.niveau).nom%>	
						<%end%>
					</p>
				</div>
			</div>

			<div class="row align-items-start">
				<div class="col-12" style="text-align: start">
					<p>
						<%= cours.descriptif[0..90] %>...
					</p>
				</div>
			</div>
			
			<div class="row align-items-start">
				<div class="col-12" style="text-align: start">
					<% if (cours.jour.present? and cours.heure.present?) %>
						<p>
							<span style="font-weight: bold">Date du prochain cours : </span>

							<% if cours.min == 0 %>
								<%=cours.jour%> | <%=cours.heure %>h - <%=cours.heure+1 %>h30
							<% else %>
								<%=cours.jour%> | <%=cours.heure %>h30 - <%=cours.heure+2 %>h
							<% end %>
						</p>
					<% else %>
						<p style="font-weight: bold">Plusieurs créneaux possibles</p>
					<% end %>
				</div>
			</div>

			<div class="row align-items-start">
				<div class="col-12" style="text-align: start">
					<p><span style="font-weight: bold">Lieu du cours : </span>
						<%= cours.lieu_court %> <span class="rose" style="font-size: 0.7em">
						(<%= @dist[cours.id]%> Km)</span>
					</p>
				</div>
			</div>
			<% if cours.theme.present? %>
					<div class="row align-items-start">
						<div class="col-12" style="text-align: start">
							<p><span style="font-weight: bold">Thématique : </span>
								<%cours.theme.each do |t| %>
									<%=t%> - 
								<%end%>
							</p>
						</div>
					</div>
			<%end%>
			<div class="row align-items-start">
				<div class="col-12" style="text-align: start; color: #e55966">
					<% if cours.nombre_eleves<2 %>
						<p><%= 3-cours.nombre_eleves %>/3 places disponibles</p>
					<% else %>
						<p><%= 3-cours.nombre_eleves %>/3 place disponible</p>
					<% end %>
				</div>
			</div>
		</div>
	</div>			
</div>
<%end%>

<div class="row justify-content-center mb-4" >
	<div class="col-8 col-lg-4">
		<div style="border-bottom-left-radius: 30px; border-bottom-right-radius: 30px; " class="bg-orange">
			<p class="text-white">
				<%= link_to "Détails du cours", {:controller =>"cours", :action=>"show", :id=>cours.id}, class:"link_to"%>
			</p>
		</div>
	</div>
</div>	