<div class="row justify-content-center mt-3">
	<div class="col-12 p-3">

		<div class="row justify-content-center">
			<div class="col-12" style="position: relative;">
				<div style="position: absolute;left:10px; top:0">
					<%= link_to "/cours/search" do %>
						<p class="d-inline" style="color: #e55966; text-align: start;"> <span class="fa fa-arrow-left fa-2x"></span></p>
						<p>Retour</p>
					<% end %>
				</div>
					<p class="d-inline text-capitalize" style="font-weight: bold; font-size: 1.4em"><%=cour.matiere%>
						<%cour.annees.each do |n| %>
							| <%= Correspondance.find_by_niveau_id(n.niveau).nom%>	
						<%end%>
					</p>
				
			</div>

		</div>

		<div class="row justify-content-center mt-3">
			<div class="col-12 ">
				<div class="row justify-content-center">
					<!-- image -->
					<div class="col-3" style="border-right: solid 2px #e55966">
						<div class="row justify-content-center">
							<%= image_tag cour.teacher.infoteacher.avatar.url(:thumb), :class => "thumbnail_show" %>
						</div>
						<div class="row justify-content-center mt-2">
							<div style="font-weight: bold;">
								<%=cour.teacher.infoteacher.first_name%> <%=cour.teacher.infoteacher.last_name[0]%>.
							</div>
						</div>
						<div class="row justify-content-center mt-2">
							<div class="d-flex">
								<div style="color: #e55966">
									<i class="fa fa-check"></i>
								</div>
								<div>
									<p class="ml-1" style="font-size: 90%">Profil vérifié</p>
								</div>
							</div>
						</div>						
					</div>
				
					<!-- caractéristiques -->
					<div class="col-9 pt-3">

						<div class="pl-5">
							<div class="row align-items-start">
								<div class="col-12" style="text-align: start">
									<p>
										<%= cour.descriptif %>...
									</p>
								</div>
							</div>
							
							<div class="row align-items-start">
								<div class="col-12" style="text-align: start">
									<% if cour.date_ex.present? %>
										<p>
											<span style="font-weight: bold">Date du prochain cours : </span>
											<%=cour.date_ex.to_date.strftime("%d-%m-%Y")%>
											à <%=cour.horaire_ex%>h<%=cour.min_ex%>
										</p>

									<%elsif cour.date_reg.present? %>
										<p>
											<span style="font-weight: bold">Date du prochain cours : </span>
											<%=cour.date_reg.to_date.strftime("%d-%m-%Y")%>
											à <%=cour.heure%>h<%=cour.min%>
										</p>
									<% elsif (cour.jour.present? and cour.heure.present?) %>
										<p>
											<span style="font-weight: bold">Date du prochain cours : </span>

											<% if cour.min == 0 %>
												<%=cour.jour%> | <%=cour.heure %>h - <%=cour.heure+1 %>h30
											<% else %>
												<%=cour.jour%> | <%=cour.heure %>h30 - <%=cour.heure+2 %>h
											<% end %>
										</p>
									<% else %>
										<p style="font-weight: bold">Plusieurs créneaux possibles</p>
									<% end %>
								</div>
							</div>

							<div class="row align-items-start">
								<div class="col-12" style="text-align: start">
									<p><span style="font-weight: bold">Lieu du cours : </span>
										<%= cour.lieu_court %> </p>
								</div>
							</div>
							<div class="row align-items-start">
								<div class="col-12" style="text-align: start; color: #e55966">
									<% if cour.nombre_eleves<2 %>
										<p><%= 3-cour.nombre_eleves %> places disponibles</p>
									<% else %>
										<p><%= 3-cour.nombre_eleves %> place disponible</p>
									<% end %>
								</div>
							</div>
							<% if cour.theme.present? %>
									<div class="row align-items-start">
									<div class="col-12" style="text-align: start">
										<p><span style="font-weight: bold">Thème du cours : </span>
											<%cour.theme.each do |t| %>
												<%=t%> - 
											<%end%>
										</p>
									</div>
								</div>
							<%end%>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>





