<!-- SECTION RAPPEL CARACTERISTIQUES COURS SELECTIONNE -->
<div class="row justify-content-center mx-0">
	<div class="col-12 p-0 mt-5 mt-lg-0" >
		<p class="d-inline text-capitalize" style="font-weight: bold; font-size: 1.4em"><%=cour.matiere%>
			<%cour.annees.each do |n| %>
				| <%= Correspondance.find_by_niveau_id(n.niveau).nom%>	
			<%end%>
		</p>
		<div class="row justify-content-center mt-3 mx-0" style="position: relative;">
			<div class="d-none d-lg-block" style="position: absolute; top: 10%; left: 45%; border: solid 1px #e55966; height: 200px"></div>
			<div class="col-12 col-lg-10 p-1">
				<div class="row justify-content-center mx-0">
					<!-- image -->
					<div class="col-12 col-lg-6">
						<div class="row justify-content-center">
							<%= image_tag cour.teacher.infoteacher.avatar.url(:thumb), :class => "thumbnail_show" %>
						</div>
						<div class="row justify-content-center mt-2">
							<div style="font-weight: bold;">
								<%=cour.teacher.infoteacher.first_name%> <%=cour.teacher.infoteacher.last_name[0]%>.
							</div>
						</div>
						<div class="row justify-content-center mt-2">
							<div class="d-flex">
								<div style="color: #e55966">
									<i class="fa fa-check"></i>
								</div>
								<div>
									<p class="ml-1" style="font-size: 90%">Profil vérifié</p>
								</div>
							</div>
						</div>						
					</div>
					<!-- caractéristiques -->
					<div class="col-12 col-lg-6 pt-3">

						<div class="row align-items-start">
							<div class="col-12" style="text-align: start">
								<p>
									<%= cour.descriptif[0..50] %>...
								</p>
							</div>
						</div>
						
						<div class="row align-items-start">
							<div class="col-12" style="text-align: start">
								<% if cour.date_ex.present? %>
									<p>
										<span style="font-weight: bold">Date du prochain cours : </span>
										<%=cour.date_ex.to_date.strftime("%d-%m-%Y")%>
										à <%=cour.horaire_ex%>h<%=cour.min_ex%>
									</p>

								<%elsif cour.date_reg.present? %>
									<p>
										<span style="font-weight: bold">Date du prochain cours : </span>
										<%=cour.date_reg.to_date.strftime("%d-%m-%Y")%>
										à <%=cour.heure%>h<%=cour.min%>
									</p>

								<% elsif (cour.jour.present? and cour.heure.present?) %>
									<p>
										<span style="font-weight: bold">Date du prochain cours : </span>

										<% if cour.min == 0 %>
											<%=cour.jour%> | <%=cour.heure %>h - <%=cour.heure+1 %>h30
										<% else %>
											<%=cour.jour%> | <%=cour.heure %>h30 - <%=cour.heure+2 %>h
										<% end %>
									</p>
								<% else %>
									<p>
										<span style="font-weight: bold">Plusieurs créneaux possibles : </span>
										<%cour.dispos.each do |dispo| %>
											<%=dispo.jour %> à <%=dispo.heure%>h<%=dispo.min%> |
										<%end%>

									</p>
								<% end %>
							</div>
						</div>

						<div class="row align-items-start">
							<div class="col-12" style="text-align: start">
								<p><span style="font-weight: bold">Lieu du cours : </span>
									<%= cour.lieu_court %> </p>
							</div>
						</div>

						<!-- THEME -->

						<% if cour.theme.present? %>
							<div class="row align-items-start">
								<div class="col-12" style="text-align: start">
									<p><span style="font-weight: bold">Thématique : </span>
										<%cour.theme.each do |t| %>
											<%=t%> - 
										<%end%>
									</p>
								</div>
							</div>
						<%end%>

						<!-- Objectif -->
		
						<div class="row align-items-start">
							<div class="col-12" style="text-align: start">
								<p><span style="font-weight: bold">Objectif : </span>
									<%if cour.objectif ==1 %>
										Soutien scolaire
									<%elsif cour.objectif == 2 %>
									 	Perfectionnement scolaire
									<% else%>
										En attente du choix des élèves
									<%end%>
								</p>
							</div>
						</div>

						<!-- Places disponibles -->

						<div class="row align-items-start">
							<div class="col-12" style="text-align: start; color: #e55966">
								<% if cour.nombre_eleves<2 %>
									<p><%= 3-cour.nombre_eleves %> places disponibles</p>
								<% else %>
									<p><%= 3-cour.nombre_eleves %> place disponible</p>
								<% end %>
							</div>
						</div>

						
						
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
