
<div class="row jacket mx-0" style="min-height: 580px;">

	<div class="col-12" id="opacity">
		<div class="d-flex flex-column justify-content-around" style="min-height:100%" >
			<div class="row justify-content-center mt-5 mx-0">
			    <div class="col-10 jacket-title" style="text-align: center">
			    	<br/>
                    Reprise des cours particuliers le 21 septembre
			    	<br/>
			    	<br/>
			    	<br/>
                    <p style="font-size: 2.7vw; color:white">Le soutien scolaire en petit groupe de 3 près de chez vous. ?</p>

			    </div>
			    <div class="col-10 jacket-text" style="text-align:center"> 
			        <p style="font-size: 2vw; color:white">Profitez d'une dynamique de groupe et de prix plus attractifs.</p>
			    </div>
			</div>
		    <div class="col-12">
			    <div class="row justify-content-center"> 
			    	<div class="col-10">
						<%=form_tag "/cours/accueil", method:"post" do %>
							<div class="form-row justify-content-center">
								<select name="matiere" class="col-12 col-lg-3 form-search text-center m-2" style="height:50px; line-height:30px; text-align-last: center">
									<option value="" disabled selected>Quelle matière ?</option>
									<option value="mathematiques">Mathématiques</option>
									<option value="francais">Français</option>
									<option value="anglais">Anglais</option>
									<option value="espagnol">Espagnol</option>
								</select>
								<select name="classe" class="col-12 col-lg-3 form-search text-center m-2" style="height:50px; line-height:30px; text-align-last: center">
									<option disabled selected>Quelle classe ?</option>
									<optgroup label="Collège">
										<option value="1">6ème</option>
										<option value="2">5ème</option>
										<option value="3">4ème</option>
										<option value="4">3ème</option> 
									</optgroup>
									<optgroup label="Lycée">
										<option value="5">2nde</option>
										<option value="6">1ère S</option>
										<option value="7">1ère ES</option>
										<option value="8">1ère L</option>
										<option value="9">Terminale S</option>	
										<option value="10">Terminale ES</option>
										<option value="11">Terminale L</option>
									</optgroup>
								</select>
								<!-- Google Maps javascript API -->
								<input id="lieu" name="lieu" type="text" 
			                 	class="col-12 col-lg-3 form-search text-center m-2" placeholder="Entrez votre adresse, 3 rue..." style="height:50px; line-height:30px; border-radius: 5px">
				                <div>
				                  <input id="latitude" name="latitude" type="hidden">
				                  <input id="longitude" name="longitude" type="hidden">
                         
				                </div>
								<!-- Fin de Google Maps Javascript API -->
								<input type="submit" class="col-12 col-lg-2 m-2" id="grad" style="height:50px; line-height:30px; border-radius: 5px; color: white" value="Chercher">
							</div>
						<%end%>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	



<!-- Simple comme bonjour de moi -->
<div class="row justify-content-center mt-4 py-3 mx-0">
	<div class="col-12 col-lg-11 justify-content-center">
		<p class="rose mt-4" style="font-size: 2.5vw">Pourquoi choisir TopNote ?</p>
		<div class="row justify-content-center mt-5">
			<div class="col-12 col-lg-4 justify-content-center p-3">
				<div class="row">
					<div class="col-3 mx-auto round d-flex">
	            		<div class="p-2 align-self-center">
	                		<%= image_tag "ico/plusieurs.png", :class=>"icones"%>
	                	</div>
	                </div>
                </div>
                <p class="text-center" style="font-size: 1.5vw; font-weight: bold;">Une dynamique de groupe</p>
                <div class="text-center text-accueil">Des cours en petit groupe de maximum 3 élèves, de même niveau et partageant les mêmes objectifs.</div>
			</div>
			<div class="col-12 col-lg-4 p-3">
				<div class="row">
					<div class="col-3 mx-auto round d-flex">
	            		<div class="p-2 align-self-center">
	                		<%= image_tag "ico/pouce.png", :class=>"icones"%>
	                	</div>
	                </div>
                </div>
                 <p class="text-center" style="font-size: 1.5vw; font-weight: bold;">Un enseignement de qualité</p>
                <div class="text-center text-accueil">Des professeurs issus de l’éducation nationale ou des grandes écoles de commerce et d’ingénieurs (HEC, ESSEC, Ponts, Centrale ...).
                </div>
			</div>
			<div class="col-12 col-lg-4 p-3">
				<div class="row">
					<div class="col-3 mx-auto round d-flex">
	            		<div class="p-2 align-self-center">
	                		<%= image_tag "ico/collaboratif_site.png", :class=>"icones"%>
	                	</div>
	                </div>
                </div>
                <p class="text-center" style="font-size: 1.5vw; font-weight: bold;" >Un suivi régulier</p>
                <div class="text-center text-accueil"> Des comptes rendus détaillés du cours vous seront envoyés par e-mail après chaque séance.</div>
			</div>
		</div>
	</div>
</div>

<div class="row justify-content-center mx-0 mt-4 p-4" style="background-color: #FFF7DE">
	<div class="col-12 col-lg-10">
		<div class="row justify-content-center mx-0">
			<div class="col-12">
				<%= image_tag "ico/prix.png", :style=>"height:80px;"%>
			</div>
			<div class="col-12">
				<p style="font-size:2.5vw;">Des cours accessibles, sans frais de dossier, et sans engagement !</p>
			</div>
			<div class="col-12">
				<p style="font-size:1.5vw;">L'esprit de TopNote, c'est partager aussi bien le résultat que le coût.</p>
			</div>
			<div class="col-12 col-lg-12 p-3">
				<div class="row justify-content-center mx-0">
					<div class="col-12 col-lg-4 p-4">
						<div class="p-3" style="background-color: white; border-radius: 15px;">
							<p style="text-align: start; font-size: 1.5vw; font-weight: bold;">Collège</p>
							<p style="font-weight: bold; font-size: 1.5vw; color:#e55966">15€/h/pers.</p>
							<p>22,5€ pour 1h30</p>
						</div>
					</div>
					<div class="col-12 col-lg-4 p-4">
						<div class="p-3" style="background-color: white; border-radius: 15px;">
							<p style="text-align: start; font-size: 1.5vw; font-weight: bold;">Lycée</p>
							<p style="font-weight: bold; font-size: 1.5vw; color: #e55966;">15€/h/pers.</p>
							<p>22,5€ pour 1h30</p>
						</div>
					</div>
					<div class="col-12 col-lg-4 p-4">
						<div class="p-3" style="background-color: white; border-radius: 15px;">
							<p style="text-align: start; font-size: 1.5vw; font-weight: bold;">Supérieur</p>
							<p style="font-weight: bold; font-size: 1.5vw; color: #e55966;">18€/h/pers.</p>
							<p>27€ pour 1h30</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--
<section class="row col-12 p-0 m-0 justify-content-center align-items-center mt-4 bg-rose py-3" >
    <div class="col-12 col-lg-2 row justify-content-center align-items-center p-3">

        <%= image_tag "ico/argent.png", :style=>"height:100px"%>
    </div>
    <div class="col-12 col-lg-10 p-2 row justify-content-center mx-0">
        <div class="col-12 row justify-content-center justify-content-lg-start" style="color:white; text-align: left">
            <div class="ml-lg-5 row col-12 justify-content-center align-items-center p-2">
                <div class="col-12 text-center text-lg-left">
                    <h4 class="m-0">Des cours à prix réduits !</h4>
                </div>
                <div class="col-12 text-center text-lg-left">
                    <p class="m-0 text-accueil" >L'esprit de TopNote, c'est partager aussi bien le résultat que le
                        coût.</p>
                </div>
            </div>
            <div
                    class="ml-lg-5 col-12 col-xl-11 row justify-content-start justify-content-around justify-content-xl-between align-items-center">
                <div class="col-12 col-lg-auto row justify-content-center justify-content-lg-start p-1">
                    <span class="p-2 px-5"
                          style="background-color: white; color: black; font-size: 1.2em; font-weight: bold; border-radius: 20px">Collège <span
                            class="rose">15€/h</span>
                    </span>
                </div>
                <div class="col-12 col-lg-auto row justify-content-center justify-content-lg-start p-1">
                    <span class="p-2 px-5"
                          style="background-color: white; color: black; font-size: 1.2em; font-weight: bold; border-radius: 20px">Lycée <span
                            class="rose">15€/h</span>
                    </span>
                </div>
                <div class="col-12 col-lg-auto row justify-content-center justify-content-lg-start p-1">
                    <span class="p-2 px-5"
                          style="background-color: white; color: black; font-size: 1.2em; font-weight: bold; border-radius: 20px">Supérieur <span
                            class="rose">18€/h</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
-->
<section class="row justify-content-center mx-0 mt-4 mb-0">
    <div class="col-12 p-0">
        <p class="rose mt-4" style="font-size: 2.5vw">Comment ça marche ?</p>
        <div>
        <%= image_tag "Schema comment ca marche.png", :class=>"img-fluid"%>
        </div>
    </div>
</section>

<section class="row col-12 justify-content-center mt-4 p-4 mx-0" style="background-color:#FFF7DE">
    <div class="col-10 mb-4">
        <p class="rose mt-4" style="font-size:2.5vw">Questions fréquentes</p>
    </div>
    <div class="col-12 row justify-content-center mt-3 mx-0">
        <div class="col-12 col-lg-5">
            <div style="text-align: left">
                <h5 class="rose jacket-title3">Combien d’élèves faut-il pour que le cours ait lieu ?</h5>
                <p class="text-accueil">Le cours a lieu dès lors qu’un élève est inscrit à un cours.</p>
                <br/>
                <h5 class="rose jacket-title3">Paiement et tarifs ?</h5>
                <p class="text-accueil">Le prix reste le même pour l’élève peu importe le nombre d’élèves inscrits sur le cours. </p>
                <br/>
                <h5 class="rose jacket-title3">Comment puis-je contacter un professeur ?</h5>
                <p class="text-accueil">Les informations personnelles des professeurs sont disponibles lorsque l’on s’abonne à son groupe de travail.</p>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div style="text-align: left">
                <h5 class="rose jacket-title3">Comment fonctionne l’abonnement sans engagement ?</h5>
                <p class="text-accueil">L’abonnement vous permet de réserver de manière automatique et sécurisée votre place au sein d’un cours d’une semaine à l’autre. Vous êtes libre de vous désinscrire quand vous le souhaitez.</p>
                <br/>
                <h5 class="rose jacket-title3">Où se déroulent les cours ? </h5>
                <p class="text-accueil">Les cours se déroulent chez le professeur ou dans un lieu validé par le professeur à proximité de votre lieu d’habitation.</p>
            </div>
        </div>
    </div>
</section>


