
<div class="row jacket" style="min-height: 580px">
	<div class="col-12" id="opacity">
		<div class="d-flex flex-column justify-content-around" style="min-height:100%" >
			<div class="row justify-content-center mt-5">
			    <div class="col-10 jacket-title" style="text-align: left">
			    	<br/>
			    	<br/>
			    	<br/>
			    	<br/>
			        Le soutien scolaire en petit groupe de 3 près de chez vous.
			    </div>
			    <div class="col-10 jacket-text" style="text-align:left">
			        Profitez d'une dynamique de groupe et de prix plus attractifs !
			    </div>
			</div>
		    <div class="col-12">
			    <div class="row justify-content-center"> 
			    	<div class="col-10">
						<%=form_tag "/cours/accueil", method:"post" do %>
							<div class="form-row justify-content-center">
								<select name="matiere" class="col-12 col-lg-3 form-search text-center m-2" style="height:50px; line-height:30px; text-align-last: center">
									<option value="" disabled selected>Quelle matière ?</option>
									<option value="mathematiques">Mathématiques</option>
									<option value="francais">Français</option>
									<option value="anglais">Anglais</option>
									<option value="espagnol">Espagnol</option>
								</select>
								<select name="classe" class="col-12 col-lg-3 form-search text-center m-2" style="height:50px; line-height:30px; text-align-last: center">
									<option disabled selected>Quelle classe ?</option>
									<optgroup label="Collège">
										<option value="1">6ème</option>
										<option value="2">5ème</option>
										<option value="3">4ème</option>
										<option value="4">3ème</option>
									</optgroup>
									<optgroup label="Lycée">
										<option value="5">2nde</option>
										<option value="6">1ère S</option>
										<option value="7">1ère ES</option>
										<option value="8">1ère L</option>
										<option value="9">Terminale S</option>	
										<option value="10">Terminale ES</option>
										<option value="11">Terminale L</option>
									</optgroup>
								</select>
								<!-- Google Maps javascript API -->
								<input id="lieu" name="lieu" type="text" 
			                 	class="col-12 col-lg-3 form-search text-center m-2" placeholder="Entrez votre adresse, 3 rue..." style="height:50px; line-height:30px; border-radius: 5px">
				                <div>
				                  <input id="latitude" name="latitude" type="hidden">
				                  <input id="longitude" name="longitude" type="hidden">
				                </div>
								<!-- Fin de Google Maps Javascript API -->
								<input type="submit" class="col-12 col-lg-2 form-search-btn m-2" style="height:50px; line-height:30px; border-radius: 5px" value="Chercher">
							</div>
						<%end%>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	



<!-- Simple comme bonjour de moi -->
<div class="row justify-content-center mt-3">
	<div class="col-10 justify-content-center">
		<p class="jacket-text title-simple">Comment ça marche ?</p>
		<div class="row justify-content-center">
			<div class="col-12 col-lg-4 justify-content-center">
				<div class="row">
					<div class="col-3 mx-auto round d-flex">
	            		<div class="p-2 align-self-center">
	                		<%= image_tag "ico/recherche.png", :class=>"icones"%>
	                	</div>
	                </div>
                </div>
                <h5 class="text-center">Recherche</h5>
                <div class="text-center">Un cours selon ton adresse, ton niveau et la matière que tu
souhaites apprendre.</div>
			</div>
			<div class="col-12 col-lg-4">
				<div class="row">
					<div class="col-3 mx-auto round d-flex">
	            		<div class="p-2 align-self-center">
	                		<%= image_tag "ico/abonne1.png", :class=>"icones"%>
	                	</div>
	                </div>
                </div>
                 <h5 class="text-center">Abonne-toi</h5>
                <div class="text-center">Au groupe de travail avec le professeur et tes nouveaux camarades.
</div>
			</div>
			<div class="col-12 col-lg-4">
				<div class="row">
					<div class="col-3 mx-auto round d-flex">
	            		<div class="p-2 align-self-center">
	                		<%= image_tag "ico/beneficie1.png", :class=>"icones"%>
	                	</div>
	                </div>
                </div>
                <h5 class="text-center">Bénéficie</h5>
                <div class="text-center">D'un suivi de la part de ton professeur et arrête ton abonnement quand tu le souhaites.</div>
			</div>
		</div>
	</div>
</div>

<!-- Nos 4 points clés -->

<section class="row justify-content-center align-items-stretch mt-3">
            <div class="col-12 row justify-content-center">
            	<!--
                <h4 class="col-12 m-0 text-center prof-flex-title">Pour vous professeur, une plateforme intuitive et pratique </h4>
				-->
                <div class="col-12 col-lg-5 row prof-flex m-4 justify-content-around">
                    <div class="col-12 col-lg-2 m-2 m-lg-0 row justify-content-center align-items-center ">
                      <%= image_tag "ico/plusieurs.png", :class=>"icones"%>
                    </div>
                    <div class="col-12 col-lg-8 row justify-content-center align-items-center">
                        <div class="col-12 prof-flex-title">Une dynamique de groupe</div>
                        <div class="col-12">
                        	<p style="text-align: left">Bénéficiez d'une émulation collective dans l'apprentissage.</br>
                        	Groupe formé de 3 élèves de même niveau.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5 row prof-flex m-4 justify-content-around">
                    <div class="col-12 col-lg-2 m-2 m-lg-0 row justify-content-center align-items-center">
                      <%= image_tag "ico/pouce.png", :class=>"icones"%>
                    </div>
                    <div class="col-12 col-lg-8 row justify-content-center align-items-center">
                        <div class="col-12 prof-flex-title">Un enseignement de qualité</div>
                        <div class="col-12">
                        	<p style="text-align: left">Des professeurs sélectionnés pour leur profil de qualité.</br>
                        	Issus de grandes écoles ou de l'éducation nationale.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5 row prof-flex m-4 justify-content-around">
                    <div class="col-12 col-lg-2 m-2 m-lg-0 row justify-content-center align-items-center">
                      <%= image_tag "ico/collaboratif_site.png", :class=>"icones"%>
                    </div>
                    <div class="col-12 col-lg-8 row justify-content-center align-items-center">
                        <div class="col-12 prof-flex-title">Un espace collaboratif</div>
                        <div class="col-12">
                        	<p style="text-align: left">Dédié et privé à chaque groupe de travail pour assurer un suivi et une forte cohésion entre parents, élèves et professeurs.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5 row prof-flex m-4 justify-content-around">
                    <div class="col-12 col-lg-2 m-2 m-lg-0 row justify-content-center align-items-center">
                      <%= image_tag "ico/abonne.png", :style=>"height:130px;"%>
                    </div>
                    <div class="col-12 col-lg-8 row justify-content-center align-items-center">
                        <div class="col-12 prof-flex-title">Un processus de paiement simplifié</div>
                        <div class="col-12">
                        	<p style="text-align: left">Basé sur un abonnement sans engagement, automatisé et sécurisé. Tu peux arrêter l'abonnement à tout moment.</p>
                        </div>
                    </div>
                </div>
            </div>
</section>


<section class="row col-12 p-0 m-0 bg-rose justify-content-center align-items-center">
    <div class="col-12 col-lg-2 row justify-content-center align-items-center p-3">
        <!--IMAGE DES PIECES -->
        <%= image_tag "ico/argent.png", :style=>"height:150px"%>
    </div>
    <div class="col-12 col-lg-10 p-2 row justify-content-center">
        <div class="col-12 row justify-content-center justify-content-lg-start" style="color:white; text-align: left">
            <div class="ml-lg-5 row col-12 justify-content-center align-items-center p-2">
                <div class="col-12 text-center text-lg-left">
                    <h4 class="m-0">Des cours à prix réduits !</h4>
                </div>
                <div class="col-12 text-center text-lg-left">
                    <p class="m-0">L'esprit de La Kamaraderie, c'est partager aussi bien le résultat que le
                        coût.</p>
                </div>
            </div>
            <div
                    class="ml-lg-5 col-12 col-xl-11 row justify-content-start justify-content-around justify-content-xl-between align-items-center">
                <div class="col-12 col-lg-auto row justify-content-center justify-content-lg-start p-1">
                    <span class="p-2 px-5"
                          style="background-color: white; color: black; font-size: 1.2em; font-weight: bold; border-radius: 20px">Collège <span
                            class="rose">15€/h</span>
                    </span>
                </div>
                <div class="col-12 col-lg-auto row justify-content-center justify-content-lg-start p-1">
                    <span class="p-2 px-5"
                          style="background-color: white; color: black; font-size: 1.2em; font-weight: bold; border-radius: 20px">Lycée <span
                            class="rose">15€/h</span>
                    </span>
                </div>
                <div class="col-12 col-lg-auto row justify-content-center justify-content-lg-start p-1">
                    <span class="p-2 px-5"
                          style="background-color: white; color: black; font-size: 1.2em; font-weight: bold; border-radius: 20px">Supérieur <span
                            class="rose">18€/h</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>


