<div class="row jacket mx-0" id="banniere"  style="min-height: 580px;">

	<div class="col-12" id="opacity">
		<div class="d-flex flex-column justify-content-around" style="min-height:100%" >


			<!-- LG SCREEN-->
			<div class="row justify-content-center d-none d-md-block mt-5 mx-0 ">
				
				    <div class="col-12" style="text-align: center">
				    	<br/>
				    	<br/>
				    	<br/>
				    	<br/>
				    	<br/>
				    	<br/>
				    	<br/>
				    	<br/>
				    	<br/>
				    	<br/>
	                    <p style="font-size: 2.5em; color:white">Cours particuliers en petits groupes de trois.</p>

				    </div>
				    <div class="col-12" style="text-align:center"> 
				        <p style="font-size: 2em; color:white">Le Top du soutien scolaire, à 15€/h.</p>
				    </div>
			  
			</div>
			<!-- SM SCREEN-->
			<div class="row justify-content-center d-block d-md-none  mt-5 mx-0 ">
			    <div class="col-12 " style="text-align: center">
		    		<br/>
			    	<br/>
			    	<br/>
                    <p style="font-size: 1.7em; color:white">Cours particuliers en petits groupes de trois.</p>

			    </div>

			</div>

		    <div class="col-12">
			    <div class="row justify-content-center"> 
			    	<div class="col-10">
						<%=form_tag "/cours/accueil", method:"post" do %>
							<div class="form-row justify-content-center">
								<select name="matiere" class="col-12 col-lg-3 form-search text-center m-2" style="height:50px; line-height:30px; text-align-last: center">
									<option value="" disabled selected>Quelle matière ?</option>
									<option value="mathematiques">Mathématiques</option>
									<option value="francais">Français</option>
									<option value="pc"> Physique-Chimie </option>
									<option value="ses"> SES </option>
									<option value="anglais">Anglais</option>
									<option value="espagnol">Espagnol</option>
									<option value="allemand"> Allemand </option>
									<option value="russe"> Russe </option>
									<option value="chinois"> Chinois </option>
								</select>
								<select name="classe" class="col-12 col-lg-3 form-search text-center m-2" style="height:50px; line-height:30px; text-align-last: center">
									<option disabled selected>Quelle classe ?</option>
									<optgroup label="Collège">
										<option value="1">6ème</option>
										<option value="2">5ème</option>
										<option value="3">4ème</option>
										<option value="4">3ème</option> 
									</optgroup>
									<optgroup label="Lycée">
										<option value="5">2nde</option>
										<option value="6">1ère S</option>
										<option value="7">1ère ES</option>
										<option value="8">1ère L</option>
										<option value="9">Terminale S</option>	
										<option value="10">Terminale ES</option>
										<option value="11">Terminale L</option>
									</optgroup>
								</select>
								<!-- Google Maps javascript API -->
								<input id="lieu" name="lieu" type="text" 
			                 	class="col-12 col-lg-3 form-search text-center m-2" placeholder="Entrez votre adresse, 3 rue..." style="height:50px; line-height:30px; border-radius: 5px">
				                <div>
				                  <input id="latitude" name="latitude" type="hidden">
				                  <input id="longitude" name="longitude" type="hidden">
                         
				                </div>
								<!-- Fin de Google Maps Javascript API -->
								<input type="submit" class="col-12 col-lg-2 m-2" id="grad" style="height:50px; line-height:30px; border-radius: 5px; border:none; color:white;" value="Chercher">
							</div>
						<%end%>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	



<!-- Simple comme bonjour de moi -->
<div class="row justify-content-center mt-4 mx-0">
	<div class="col-12 col-lg-11 justify-content-center">
		<p class="d-none d-md-block rose mt-4" style="font-size: 2em">Pourquoi choisir TopNote ?</p>
		<p class="d-block d-md-none rose mt-4" style="font-size: 1.7em">Pourquoi choisir TopNote ?</p>
		<div class="row justify-content-center mt-4">
			<div class="col-12 col-lg-4 justify-content-center p-3">
				<div class="row">
					<div class="col-3 mx-auto round d-flex">
	            		<div class="p-2 align-self-center">
	                		<%= image_tag "ico/plusieurs.png", :class=>"icones"%>
	                	</div>
	                </div>
                </div>
                <p class="text-center" style="font-size: 1.3em; font-weight: bold;">Une dynamique de groupe</p>
                <div class="text-center text-accueil">Des cours en petit groupe de maximum 3 élèves, de même niveau et partageant les mêmes objectifs.</div>
			</div>
			<div class="col-12 col-lg-4 p-3">
				<div class="row">
					<div class="col-3 mx-auto round d-flex">
	            		<div class="p-2 align-self-center">
	                		<%= image_tag "ico/pouce.png", :class=>"icones"%>
	                	</div>
	                </div>
                </div>
                 <p class="text-center" style="font-size: 1.3em; font-weight: bold;">Un enseignement de qualité</p>
                <div class="text-center text-accueil">Des professeurs issus de l’éducation nationale ou des grandes écoles de commerce et d’ingénieurs (HEC, ESSEC, Ponts, Centrale ...).
                </div>
			</div>
			<div class="col-12 col-lg-4 p-3">
				<div class="row">
					<div class="col-3 mx-auto round d-flex">
	            		<div class="p-2 align-self-center">
	                		<%= image_tag "ico/collaboratif_site.png", :class=>"icones"%>
	                	</div>
	                </div>
                </div>
                <p class="text-center" style="font-size: 1.3em; font-weight: bold;" >Un suivi régulier</p>
                <div class="text-center text-accueil"> Des comptes rendus détaillés du cours vous seront envoyés par e-mail après chaque séance.</div>
			</div>
		</div>
	</div>
</div>

<div class="row justify-content-center mx-0 mt-5 p-4" style="background-color: #FFF7DE">
	<div class="col-12 col-lg-10">
		<div class="row justify-content-center mt-4 mx-0">
			<div class="col-12">
				<%= image_tag "ico/prix.png", :style=>"height:80px;"%>
			</div>
			<div class="col-12 mt-4 d-none d-md-block">
				<p style="font-size:2em; ">Des cours accessibles, sans frais de dossier, et sans engagement !</p>
			</div>
			<div class="col-12 mt-4 d-block d-md-none">
				<p style="font-size:1.5em; ">Des cours accessibles, sans frais de dossier, et sans engagement !</p>
			</div>
			<div class="col-12 d-none d-md-block">
				<p style="font-size:1.3em;">L'esprit de TopNote, c'est partager aussi bien le résultat que le coût.</p>
			</div>
			<div class="col-12 col-lg-12 p-3">
				<div class="row justify-content-center mx-0">
					<div class="col-12 col-lg-4 p-4">
						<div class="p-3" style="background-color: white; border-radius: 15px;">
							<p style="text-align: start; font-size: 1.3em; font-weight: bold;">Collège</p>
							<p style="font-weight: bold; font-size: 1.3em; color:#e55966">15€/h/pers.</p>
							<p>22,5€ pour 1h30</p>
						</div>
					</div>
					<div class="col-12 col-lg-4 p-4">
						<div class="p-3" style="background-color: white; border-radius: 15px;">
							<p style="text-align: start; font-size: 1.3em; font-weight: bold;">Lycée</p>
							<p style="font-weight: bold; font-size: 1.3em; color: #e55966;">15€/h/pers.</p>
							<p>22,5€ pour 1h30</p>
						</div>
					</div>
					<div class="col-12 col-lg-4 p-4">
						<div class="p-3" style="background-color: white; border-radius: 15px;">
							<p style="text-align: start; font-size: 1.3em; font-weight: bold;">Supérieur</p>
							<p style="font-weight: bold; font-size: 1.3em; color: #e55966;">18€/h/pers.</p>
							<p>27€ pour 1h30</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--
<section class="row col-12 p-0 m-0 justify-content-center align-items-center mt-4 bg-rose py-3" >
    <div class="col-12 col-lg-2 row justify-content-center align-items-center p-3">

        <%= image_tag "ico/argent.png", :style=>"height:100px"%>
    </div>
    <div class="col-12 col-lg-10 p-2 row justify-content-center mx-0">
        <div class="col-12 row justify-content-center justify-content-lg-start" style="color:white; text-align: left">
            <div class="ml-lg-5 row col-12 justify-content-center align-items-center p-2">
                <div class="col-12 text-center text-lg-left">
                    <h4 class="m-0">Des cours à prix réduits !</h4>
                </div>
                <div class="col-12 text-center text-lg-left">
                    <p class="m-0 text-accueil" >L'esprit de TopNote, c'est partager aussi bien le résultat que le
                        coût.</p>
                </div>
            </div>
            <div
                    class="ml-lg-5 col-12 col-xl-11 row justify-content-start justify-content-around justify-content-xl-between align-items-center">
                <div class="col-12 col-lg-auto row justify-content-center justify-content-lg-start p-1">
                    <span class="p-2 px-5"
                          style="background-color: white; color: black; font-size: 1.2em; font-weight: bold; border-radius: 20px">Collège <span
                            class="rose">15€/h</span>
                    </span>
                </div>
                <div class="col-12 col-lg-auto row justify-content-center justify-content-lg-start p-1">
                    <span class="p-2 px-5"
                          style="background-color: white; color: black; font-size: 1.2em; font-weight: bold; border-radius: 20px">Lycée <span
                            class="rose">15€/h</span>
                    </span>
                </div>
                <div class="col-12 col-lg-auto row justify-content-center justify-content-lg-start p-1">
                    <span class="p-2 px-5"
                          style="background-color: white; color: black; font-size: 1.2em; font-weight: bold; border-radius: 20px">Supérieur <span
                            class="rose">18€/h</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
-->
<section class="row justify-content-center mx-0 mt-4 mb-0">
    <div class="col-12 p-0 d-none d-md-block">
        <p class="rose mt-4 " style="font-size: 2em">Comment ça marche ?</p>
        <div>
        <%= image_tag "Schema comment ca marche.png", :class=>"img-fluid"%>
        </div>
    </div>
    <div class="col-12 p-0  d-block d-md-none">
        <p class="rose mt-4" style="font-size: 1.7em">Comment ça marche ?</p>
        <div>
        <%= image_tag "Schema comment ca marche iphone.png", :class=>"img-fluid"%>
        </div>
    </div>
    <div class="col-12 mb-4">
    	<a class="btn bg-orange" href="#banniere" role="button" style="color:white; height:50px; line-height:30px; border-radius: 5px; min-width: 200px" >Chercher un cours</a>
    </div>
</section>

<section class="row justify-content-center mx- 0 mt-4 mb-0">
	<div class="col-12 row p-4" style="background-color: #FFF7DE">
		<div class="col-12">
			<p style="font-size: 1em; font-style: italic;">Ils nous font confiance, et nous leur rendons.</p>
		</div>
		<div class="col-12">
			<p style="font-size: 1.3em; font-weight: bold;">Tout seul on va vite, ensemble on va loin.</p>
		</div>
		<div id="carouselExampleIndicators" class="col-12 mt-3 carousel slide" data-ride="carousel">
		  <ol class="carousel-indicators">
		    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
		  </ol>
		  <div class="carousel-inner mb-5" >
<!--1-->
		    <div class="carousel-item active">
		    	<div class="row justify-content-center mx-0">
		    		<div class="col-4">
		    			<p style="font-weight: bold">Élève</p>
		    		</div>
		    		<div class="col-4">
		    			<p style="font-weight: bold">Parent</p>
		    		</div>
		    		<div class="col-4">
		    			<p style="font-weight: bold">Professeur</p>
		    		</div>
		    	</div>
		    	<div class="row justify-content-center mx-0">
		    		<div class="col-4" style="color:black">
    					<span class="fa fa-star"></span>
	    				<span class="fa fa-star"></span>
	    				<span class="fa fa-star"></span>
	    				<span class="fa fa-star"></span>
	    				<span class="fa fa-star"></span>
		    		</div>
		    		<div class="col-4" style="color:black">
    					<span class="fa fa-star"></span>
	    				<span class="fa fa-star"></span>
	    				<span class="fa fa-star"></span>
	    				<span class="fa fa-star"></span>
	    				<span class="fa fa-star"></span>
		    		</div>
		    		<div class="col-4" style="color:black">
    					<span class="fa fa-star"></span>
	    				<span class="fa fa-star"></span>
	    				<span class="fa fa-star"></span>
	    				<span class="fa fa-star"></span>
	    				<span class="fa fa-star"></span>
		    		</div>
		    	</div>
		    	<div class="row justify-content-center mt-2 mx-0">
	    			<div class="col-4">
	    				<p>J’avais beaucoup de mal à l’oral en anglais, mais travailler en groupe  m’a donné confiance et j’ai pu m’améliorer très rapidement, merci !</p>
	    			</div>
	    			<div class="col-4">
	    				<p>Super site, j’ai inscrit mes deux fils à des cours de mathématiques et d'anglais l’année dernière, les deux professeurs se sont révélés être très compétents et pédagogues, je recommence cette année. </p>
	    			</div>
	    			<div class="col-4">
	    				<p>Le site m’a permis de trouver des élèves motivés, et prêts à travailler en groupe. J'ai pu sentir le long de mes cours une véritable émulation au sein de mes groupes d'élèves.</p>
	    			</div>
	    		</div>
	    		<div class="row justify-content-center mx-0">
	    			<div class="col-4">
	    				<p style="font-style: italic; font-size: 0.9em;">Grégoire - 1ère ES</p>
	    			</div>
	    			<div class="col-4">
	    				<p style="font-style: italic; font-size: 0.9em;">Martines - mère de Grégoire</p>
	    			</div>
	    			<div class="col-4">
	    				<p style="font-style: italic; font-size: 0.9em;">Alain - professeur de Grégoire</p>
	    			</div>
	    		</div>
		    </div>
<!--2-->
		    <div class="carousel-item ">
		    	<div class="row justify-content-center mx-0">
		    		<div class="col-4">
		    			<p style="font-weight: bold">Élève</p>
		    		</div>
		    		<div class="col-4">
		    			<p style="font-weight: bold">Parent</p>
		    		</div>
		    		<div class="col-4">
		    			<p style="font-weight: bold">Professeur</p>
		    		</div>
		    	</div>
		    	<div class="row justify-content-center mx-0">
		    		<div class="col-4" style="color:black">
    					<span class="fa fa-star"></span>
	    				<span class="fa fa-star"></span>
	    				<span class="fa fa-star"></span>
	    				<span class="fa fa-star"></span>
	    				<span class="fa fa-star"></span>
		    		</div>
		    		<div class="col-4" style="color:black">
    					<span class="fa fa-star"></span>
	    				<span class="fa fa-star"></span>
	    				<span class="fa fa-star"></span>
	    				<span class="fa fa-star"></span>
	    				<span class="fa fa-star"></span>
		    		</div>
		    		<div class="col-4" style="color:black">
    					<span class="fa fa-star"></span>
	    				<span class="fa fa-star"></span>
	    				<span class="fa fa-star"></span>
	    				<span class="fa fa-star"></span>
	    				<span class="fa fa-star"></span>
		    		</div>
		    	</div>
		    	<div class="row justify-content-center mt-2 mx-0">
	    			<div class="col-4">
	    				<p>J’ai découvert Topnote 3 mois avant le bac et j’ai décidé de m’inscrire avec deux de mes amies pour nous motiver à travailler ! Une superbe expérience, je recommande ;) !</p>
	    			</div>
	    			<div class="col-4">
	    				<p>Absolument ravi par ce site, les fonctionnalités sont très pratiques et permettent beaucoup de flexibilité, Alain était très sérieux, je le recommande vivement !</p>
	    			</div>
	    			<div class="col-4">
	    				<p>Format parfaitement adapté pour un professeur indépendant comme moi. Je donne de nombreux cours chaque semaine et les fonctionnalités me facilitent la vie, rien à dire… si ce n’est : Bravo ! </p>
	    			</div>
	    		</div>
	    		<div class="row justify-content-center mx-0">
	    			<div class="col-4">
	    				<p style="font-style: italic; font-size: 0.9em;">laetitia - 1ère ES</p>
	    			</div>
	    			<div class="col-4">
	    				<p style="font-style: italic; font-size: 0.9em;">Henri - père de laetitia</p>
	    			</div>
	    			<div class="col-4">
	    				<p style="font-style: italic; font-size: 0.9em;">Ali - professeur de laetitia</p>
	    			</div>
	    		</div>
		    </div>
<!--3
		    <div class="carousel-item">
		    	<div class="row justify-content-center mx-0">
		    		<div class="col-4">
		    			<p style="font-weight: bold">Élève</p>
		    		</div>
		    		<div class="col-4">
		    			<p style="font-weight: bold">Parent</p>
		    		</div>
		    		<div class="col-4">
		    			<p style="font-weight: bold">Professeur</p>
		    		</div>
		    	</div>
		    	<div class="row justify-content-center mx-0">
		    		<div class="col-4" style="color:black">
    					<span class="fa fa-star"></span>
	    				<span class="fa fa-star"></span>
	    				<span class="fa fa-star"></span>
	    				<span class="fa fa-star"></span>
	    				<span class="fa fa-star"></span>
		    		</div>
		    		<div class="col-4" style="color:black">
    					<span class="fa fa-star"></span>
	    				<span class="fa fa-star"></span>
	    				<span class="fa fa-star"></span>
	    				<span class="fa fa-star"></span>
	    				<span class="fa fa-star"></span>
		    		</div>
		    		<div class="col-4" style="color:black">
    					<span class="fa fa-star"></span>
	    				<span class="fa fa-star"></span>
	    				<span class="fa fa-star"></span>
	    				<span class="fa fa-star"></span>
	    				<span class="fa fa-star"></span>
		    		</div>
		    	</div>
		    	<div class="row justify-content-center mx-0">
	    			<div class="col-4">
	    				<p>J’avais beaucoup de mal à l’oral en anglais, mais travailler en groupe  m’a redonné confiance et j’ai pu m’améliorer très rapidement, merci !</p>
	    			</div>
	    			<div class="col-4">
	    				<p>Absolument ravi par ce site, les fonctionnalités sont très pratiques et permettent beaucoup de flexibilité, Alain était très sérieux, je le recommande vivement !</p>
	    			</div>
	    			<div class="col-4">
	    				<p>Le site m’a permis de trouver des élèves motivés, et prêts à travailler en groupe. J'ai pu sentir le long de mes cours une véritable émulation au sein de mes groupes d'élèves.</p>
	    			</div>
	    		</div>
	    		<div class="row justify-content-center mx-0">
	    			<div class="col-4">
	    				<p>Grégoire - 1ère ES</p>
	    			</div>
	    			<div class="col-4">
	    				<p>Martines - mère de Grégoire</p>
	    			</div>
	    			<div class="col-4">
	    				<p>Alain - professeur de Grégoire</p>
	    			</div>
	    		</div>
		    </div>
-->

		  </div>
		  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="sr-only">Précedent</span>
		  </a>
		  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="sr-only">Suivant</span>
		  </a>
		</div>
	</div>
</section>

<section class="row col-12 justify-content-center mt-3 p-4 pb-5 mx-0" id="FAQ" style="background-color:white;">
    <div class="col-10 mb-4">
        <p class="rose mt-4" style="font-size:2em">Questions fréquentes</p>
    </div>
    <div class="col-12 row justify-content-center mt-3 mx-0">
        <div class="col-12 col-lg-6">
            <div style="text-align: left">
                <h5 class="rose jacket-title3">Combien d’élèves faut-il pour que le cours ait lieu ?</h5>
                <p class="text-accueil">Le cours a lieu dès lors qu’un élève est inscrit à un cours.</p>
                <br/>
                <h5 class="rose jacket-title3">Paiement et tarifs ?</h5>
                <p class="text-accueil">Le prix reste le même pour l’élève peu importe le nombre d’élèves inscrits sur le cours. </p>
                <br/>
                <h5 class="rose jacket-title3">Comment puis-je contacter un professeur ?</h5>
                <p class="text-accueil">Les informations personnelles des professeurs sont disponibles lorsque l’on s’abonne à son groupe de travail.</p>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div style="text-align: left">
                <h5 class="rose jacket-title3">Comment fonctionne l’abonnement sans engagement ?</h5>
                <p class="text-accueil">L’abonnement vous permet de réserver de manière automatique et sécurisée votre place au sein d’un cours d’une semaine à l’autre. Vous êtes libre de vous désinscrire quand vous le souhaitez.</p>
                <br/>
                <h5 class="rose jacket-title3">Où se déroulent les cours ? </h5>
                <p class="text-accueil">Les cours se déroulent chez le professeur ou dans un lieu validé par le professeur à proximité de votre lieu d’habitation.</p>
            </div>
        </div>
    </div>
</section>


