<!-- <h1>Cours corrspondants à votre recherche !!</h1> -->

<!-- <p> Votre adresse : <%=@lieu%> </p> -->

<div class="row justify-content-around" style="margin-top: 50px">
	<div class="col-sm-10">
		<%=form_tag "/cours/search", method:"post" do %>
			<div class="form-row">
				<div class="from-group col-sm-3">
				<label for="matiere" class="sr-only">Matière ?</label>
					<select name="matiere" class="form-control">
						<option value="" disabled selected>Quelle matière ?</option>
						<option value="mathematiques">Mathématiques</option>
						<option value="francais">Français</option>
						<option value="anglais">Anglais</option>
						<option value="espagnol">Espagnol</option>
					</select>
				</div>
				<div class="form-group col-sm-3">
						<label for="classe" class="sr-only">Quelle classe ?</label>
							<select name="classe" class="form-control">
								<option disabled selected>Quelle classe ?</option>
								<optgroup label="Collège">
									<option value="1">6ème</option>
									<option value="2">5ème</option>
									<option value="3">4ème</option>
									<option value="4">3ème</option>
								</optgroup>
								<optgroup label="Lycée">
									<option value="5">2nde</option>
									<option value="6">1ère S</option>
									<option value="7">1ère ES</option>
									<option value="8">1ère L</option>
									<option value="9">Terminale S</option>	
									<option value="10">Terminale ES</option>
									<option value="11">Terminale L</option>
								</optgroup>
							</select>
						</div>
				<div class="form-group col-sm-3">
				<label for="lieu" class="sr-only">Adresse ou quartier ?</label>
					<input type="text" name="lieu" class="form-control" placeholder="<%=params[:lieu] %>" value="<%=params[:lieu]%>">
				</div>
				<div class="col-sm-2">
					<input type="submit" class="form-control btn-primary" value="Chercher">
				</div>
			</div>
		<%end%>
	</div>
</div>

<% for cours in @cours%>
	<div class="row justify-content-center">
		<div class="col-sm-6">	
			<%= render partial:"annonce", locals:{cours:cours}%>
		</div>
	</div>
<% end %>