<!-- <h1>Cours corrspondants à votre recherche !!</h1> -->

<!-- <p> Votre adresse : <%=@lieu%> </p> -->

<div class="row justify-content-around mt-5 mx-0">
	<div class="col-12 col-lg-10">
		<%=form_tag "/cours/search", method:"post" do %>
					<div class="form-row justify-content-center">
						<select name="matiere" class="col-12 col-lg-3 form-search text-center m-2">
							<option disabled selected>Quelle matière ?</option>
							<%= options_for_select([['Mathématiques', "mathematiques"], ['Français', "francais"], ['Physique-Chimie', "pc"], ['Anglais', "anglais"], ['Espagnol', "espagnol"], ['SES', "ses"], ['Allemand', "allemand"],
								['Russe', "russe"], ['Chinois', "chinois"]
							], @matiere) %>

						</select>
						<select name="classe" class="col-12 col-lg-3 form-search text-center m-2">
							<option disabled selected>Quelle classe ?</option>
							<optgroup label="Collège">
								<%= options_for_select([['6ème', "1"], ['5ème', "2"], ['4ème', "3"], ['3ème', "4"]], @niveau) %>
							</optgroup>
							<optgroup label="Lycée">
								<%= options_for_select([['2nde', "5"], ['1ère S', "6"], ['1ère ES', "7"], ['1ère L', "8"],['Terminale S', "9"], ['Terminale ES', "10"], ['Terminale L', "11"]], @niveau) %>

							</optgroup>
						</select>
						<!-- Google Maps javascript API -->
						<input id="lieu" name="lieu"
                     	class="col-12 col-lg-3 form-search text-center m-2" placeholder="Entrez votre adresse, 3 rue..." value="<%=@lieu%>">
		                <div>
		                  <input id="latitude" name="latitude" value="<%=@latitude%>" >
		                  <input id="longitude" name="longitude" value="<%=@longitude%>">
		                </div>
						<!-- Fin de Google Maps Javascript API -->
						<input type="submit" class="col-12 col-lg-2 form-search-btn m-2" value="Chercher">
					</div>
				<%end%>
	</div>
</div>


<div class="row justify-content-center mt-3">
	<div class="col-12 col-lg-8" style="background-color: #F2F2F2">
		<div class="p-2"  >
			<% for cours in @cours%>
				<div class="m-2">
					<%= render partial:"annonce", locals:{cours:cours}%>
				</div>
			<% end %>
		</div>
	</div>
</div>
