<!-- SECTION RAPPEL CARACTERISTIQUES COURS SELECTIONNE -->
<div class="row justify-content-center p-3">
	<div class="col-11">
		<%=render partial:"en_tete_eleve", locals:{cour:@cour}%>
	</div>
</div>

<!-- Boutons -->

<div class="row justify-content-center p-3">	
	<div class="col-3">
		<button type="button" class="btn bg-orange" data-toggle="modal" data-target="#ContacterProf" style="border-radius:5px; color:white; width: 100%">
			Envoyer un message
		</button>
	</div>

	<div class="col-3">
		<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#Medesabonner" style="border-radius:5px; color:white; width: 100%">
			Me désabonner
		</button>
	</div>
		
</div>

<!-- Messages et absences-->

<div class="row justify-content-center bg-gris p-3">
	<div class="col-11">

		<div class="row justify-content-between">

			<div class="col-12 col-lg-6 bg-blanc p-3" style="border-right: solid 20px #F2F2F2" >
				<div class="row justify-content-center">
					<div class="col-12 ">
						<p style="font-weight: bold; font-size: 1.4em">Conversation avec <%=@cour.teacher.infoteacher.first_name.capitalize%></p>
						<p class="font-italic text-justify" style="font-size:90%"></p>
					

						<% @messages.each do |m| %>
							<% if !m.ecritparuser %>
								<div class="row mt-2 align-items-center" >
								
									<div class="col-2">	
										<%= image_tag m.teacher.infoteacher.avatar.url(:thumb), :class => "thumbnail1" %>
									</div>

									<div class="col-2">
										<span style="font-weight: bold"><%=m.teacher.infoteacher.first_name.capitalize%> : </span>
									</div>

									<div class="col-8">
											<p class="mb-0" style="text-align: left">
												<%= m.message %>
											</p>
									</div>
								</div>

							<% elsif m.ecritparuser %>
								<div class="row mt-2 align-items-center">
									<div class="col-2">	
										<div class="d-flex justify-content-center align-items-center" style="border-radius: 50%; background-color: orange; width: 50px; height: 50px; color: white; font-weight: bold;">
											<%=m.user.infouser.first_name.capitalize[0]%>
										</div>
									</div>

									<div class="col-2">
										<span style="font-weight: bold">Moi : </span>
									</div>
				
									<div class="col-8 ">								
											<p class="mb-0" style="text-align: left"><%= m.message %>
											</p>
											<!--
											<p style="text-align: right; font-style: italic;">
												<%= m.created_at.strftime("%Y-%m-%d") %> à <%=m.created_at.strftime("%H")%>h<%=m.created_at.strftime("%M") %>	
											</p>
											-->				
									</div>
								</div>
							<%end%>
						<% end %>
					</div>
				</div>
			</div>

			<div class="col-12 col-lg-6 bg-blanc p-3">
				<div class="row justify-content-center">
					<div class="col-12 ">
						<p style="font-weight: bold; font-size: 1.4em">Mes absences</p>
						<p>Vous avez le droit de signaler une absence par mois pour ce cours.</p>
						<% if !@absenceponctuelle %>
							<p class="rose" style="font-size: 0.7em;">Aucune absence signalée ce mois-ci.</p>
							<p class="d-inline font-italic" style="font-size:90%; font-weight: bold">Signaler mon absence pour le prochain cours :
							</p>
							<p class="d-inline">
							<%= link_to "Envoyer", {:controller =>"absences", :action=>"ponctuelle", :id=>@cour.id}, class:"btn btn-info", role:"button" %>
							</p>
						<%else%>
							<p>
								Vous avez déjà signalé une absence ce mois-ci.
							</p>
						<%end%>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




<!-- Experience et méthodologie-->

<div class="row justify-content-center bg-gris p-3">
	<div class="col-11">

		<div class="row justify-content-between">

			<div class="col-12 col-lg-6 bg-blanc p-3" style="border-right: solid 20px #F2F2F2" >
					<div class="row justify-content-center">
						<div class="col-12 ">
							<p style="font-weight: bold; font-size: 1.4em">Expérience</p>
							<p class="font-italic text-justify" style="font-size:90%"><%=@cour.teacher.infoteacher.experience%></p>			
						</div>
					</div>
			</div>

			<div class="col-12 col-lg-6 bg-blanc p-3">
				<div class="row justify-content-center">
					<div class="col-12  ">
						<p style="font-weight: bold; font-size: 1.4em">Méthodologie</p>
						<p class="font-italic text-justify" style="font-size:90%"><%=@cour.teacher.infoteacher.methodology%></p>				
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




<!-- Modal Contacter prof -->

<div class="modal fade" id="ContacterProf" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Envoyer un message</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
	            <%=form_tag("/cours/show", method: "post") do %>

	            <div class="input-group mb-3">
					<div class="input-group-prepend">
						<div class="input-group-text"><span class="fa fa-pencil"></span></div>
					</div>
					<textarea type="text" class="form-control" id="Message" name="message"></textarea>
				</div>
				<input type="hidden" name="cour_id" value='<%=@cour.id%>'>
	            <div class="modal-footer">
	                <div class="input-group mb-3">
						<div class="input-group-prepend">
							<div class="input-group-text"><span class="fa fa-paper-plane-o"></span></div>
						</div>
						<input type="submit" class="btn btn-primary form-control" value="Envoyer" name="contactprof">
					</div>
	            </div>
	            <% end %>
       		</div>
    	</div>
	</div>
</div>
<!-- Fin Modal contacter prof -->



<!-- Modal  Désabonner-->
<div class="modal fade" id="Medesabonner"  role="dialog" aria-labelledby="Medesabonner" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Medesabonner">Me désabonner</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Je confirme mon souhait de me désabonner de ce cours. Avant de valider votre choix, nous vous suggérons d'avertir le professeur de votre décision. 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Annuler</button>
        <%= link_to "Me désabonner", {:controller =>"pages", :action=>"medesabonner", :id=>@cour.id}, class:"btn btn-danger", role:"button", style:"color:white;"%>
      </div>
    </div>
  </div>
</div>
