<%=form_tag "/cours/show", method:"post" do %>

<!-- SECTION RAPPEL CARACTERISTIQUES COURS SELECTIONNE -->
<div class="row justify-content-center p-3">
	<div class="col-11">


		<div class="row justify-content-center mt-3">
			<div class="col-12 p-3" style="position: relative; ">
			<div style="position: absolute; top: 30%; left: 45%; border: solid 1px #e55966; height: 160px"></div>
				<div class="row justify-content-center">
					<div class="col-2">
						<%= link_to :back do %>
							<p style="color: #e55966"> <span class="fa fa-arrow-left fa-2x"></span></p>
							<p style="color: #e55966">Retour</p>
						<% end %>
					</div>
					<div class="col-10">
						<p class="mt-3 text-capitalize" style="font-weight: bold; font-size: 1.4em"><%=@cour.matiere%>
							<%@cour.annees.each do |n| %>
								| <%= Correspondance.find_by_niveau_id(n.niveau).nom%>	
							<%end%>
						</p>
					</div>

				</div>
				<div class="row justify-content-center">
					<div class="col-10 col-lg-10">
						<div class="row justify-content-center">
							<!-- image -->
							<div class="col-6">
								<div class="row justify-content-center">
									<%= image_tag @cour.teacher.infoteacher.avatar.url(:thumb), :class => "thumbnail_show" %>
								</div>
								<div class="row justify-content-center mt-2">
									<div style="font-weight: bold;">
										<%=@cour.teacher.infoteacher.first_name%> <%=@cour.teacher.infoteacher.last_name[0]%>.
									</div>
								</div>
								<div class="row justify-content-center mt-2">
									<div class="d-flex">
										<div style="color: #e55966">
											<i class="fa fa-check"></i>
										</div>
										<div>
											<p class="ml-1" style="font-size: 90%">Profil vérifié</p>
										</div>
									</div>
								</div>						
							</div>
							<!-- caractéristiques -->
							<div class="col-6 pt-3">

								<div class="row align-items-start">
									<div class="col-12" style="text-align: start">
										<p>
											<%= @cour.descriptif[0..50] %>...
										</p>
									</div>
								</div>
								
								<div class="row align-items-start">
									<div class="col-12" style="text-align: start">
										<% if (@cour.jour.present? and @cour.heure.present?) %>
											<p>
												<span style="font-weight: bold">Date du prochain cours : </span>

												<% if @cour.min == 0 %>
													<%=@cour.jour%> | <%=@cour.heure %>h - <%=@cour.heure+1 %>h30
												<% else %>
													<%=@cour.jour%> | <%=@cour.heure %>h30 - <%=@cour.heure+2 %>h
												<% end %>
											</p>
										<% else %>
											<p style="font-weight: bold">Plusieurs créneaux possibles</p>
										<% end %>
									</div>
								</div>

								<div class="row align-items-start">
									<div class="col-12" style="text-align: start">
										<p><span style="font-weight: bold">Lieu du cours : </span>
											<%= @cour.lieu_court %> </p>
									</div>
								</div>
								<div class="row align-items-start">
									<div class="col-12" style="text-align: start; color: #e55966">
										<% if @cour.nombre_eleves<2 %>
											<p><%= 3-@cour.nombre_eleves %> places disponibles</p>
										<% else %>
											<p><%= 3-@cour.nombre_eleves %> place disponible</p>
										<% end %>
									</div>
								</div>
								<div class="row justify-content-around">
									
								
								<% if !teacher_signed_in? %>
									<div class="col-5">
										<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ContacterProf" style="border-radius: 5px; color:white;">
						  					Envoyer un message
										</button>
									</div>
									<div class="col-5">
										<div  class="bg-rose" style=" border-radius: 5px; ">
											<input type="submit" class="btn btn-primary form-control" value="Réserver" style="border-radius: 15px" name="commit">
										</div>

									</div>
								
								<% elsif (teacher_signed_in? and current_teacher.id == @cour.teacher_id) %>
									<div class="col-12 col-lg-5 bleu" style="border:solid 1px black; border-radius: 10px ; height:30px">
										<%= link_to "Modifier", {:controller =>"cours", :action=>"modifier", :id=>@cour.id}, class:"link_to" %>
									</div>
									<div class="col-12 col-lg-5 bg-rouge" style="border:solid 1px black; border-radius: 10px">
									
										<button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal" style="height:30px">
						  					<p>Supprimer ce cours</p>
										</button>

									</div>
								
								<%end%>	

								<% if @est_inscrit%>
									<div class="col-12 col-lg-4 bleu" style="border:solid 1px black; border-radius: 10px ; height:30px">
										<%= link_to "Signaler mon absence", {:controller =>"cours", :action=>"absence_show", :cour_id=>@cour.id}, class:"link_to" %>
									</div>								
								<% end %>

								</div>	
								
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<div class="row justify-content-center bg-gris p-3">
	<div class="col-11">

		<!-- Experience et méthodologie-->

		<div class="row justify-content-between">

			<div class="col-12 col-lg-6 bg-blanc p-3" style="border-right: solid 20px #F2F2F2" >
					<div class="row justify-content-center">
						<div class="col-12 ">
							<p style="font-weight: bold; font-size: 1.4em">Expérience</p>
							<p class="font-italic text-justify" style="font-size:90%"><%=@cour.teacher.infoteacher.experience%></p>			
						</div>
					</div>
			</div>

			<div class="col-12 col-lg-6 bg-blanc p-3">
				<div class="row justify-content-center">
					<div class="col-12  ">
						<p style="font-weight: bold; font-size: 1.4em">Méthodologie</p>
						<p class="font-italic text-justify" style="font-size:90%"><%=@cour.teacher.infoteacher.methodology%></p>				
					</div>
				</div>
			</div>
		</div>

		<% if !(@cour.jour.present? and @cour.heure.present?) %>

		<!-- Cas où premier élève et plusieurs créneaux possibles -->

		<div class="row justify-content-center mt-3 bg-blanc">
			<div class="col-12 p-3 ">
				<p class="rose" style="font-size: 1.4em; font-weight: bold">Aucun élève inscrit pour le moment</p>
				<p>En vous inscrivant en premier à ce cours, vous pouvez définir les critères de votre groupe de travail: </p>
				<div class="row justify-content-around">
					<div class="col-12 col-lg-4">
						<p style="font-weight: bold; font-size: 1.2em;"><span style="font-size: 1.3em;">1.</span> Choisissez le créneau</p>
						<p style="text-align: justify;">Veuillez choisir le créneau qui vous convient :</p>
					
						<div class="d-flex flex-wrap justify-content-around">							
							<% @l.each do |j| %>
								<div>
									<table class="table">
										<thead>
											<tr>
												<th style="border:none;"><%=j%></th>
											</tr>
										</thead> 
										<tbody>
											<%@cour.dispos.where(jour:j).each do |jh| %>
												<tr>
													<th >
														<div class="btn-group btn-group-toggle" data-toggle="buttons">
														<label class="btn" id="btn_active" style="background-color: #e0e0e0">
				   										 <input type="radio" name="dispo" id="option1" autocomplete="off" value="<%=j%>,<%=jh.heure%>,<%=jh.min%>" required>
				   										 <% if jh.min == 0%>
				   										 	<%=jh.heure%>h
				   										 <% else %>
				   										 	<%=jh.heure%>h<%=jh.min%>
				   										 <% end%>
				 										 </label>
														</div>
													</th>
												</tr>
											<% end %>
										</tbody>
									</table>
								</div>
							<%end%>	
						</div>
					</div>

					<div class="col-12 col-lg-4">
						<p style="font-weight: bold; font-size: 1.2em"><span style="font-size: 1.3em">2.</span> Choisissez votre objectif</p>
						<p style="text-align: justify;">Veuillez choisir l'objectif qui vous convient :</p>
						<div class="col-12">
							<input type="button" class="btn btn-secondary col-9" value="Renforcement scolaire">
						</div>
						<div class="col-12 mt-1">
							<input type="button" class="btn btn-info col-9" value="Perfectionnement scolaire">
						</div>
					</div>
					<div class="col-12 col-lg-4">
						<p style="font-weight: bold; font-size: 1.2em"><span style="font-size: 1.3em">3.</span> Programme du cours</p>
						<p style="text-align: justify">Une fois inscrit, c'est vous qui choisirez la thématique du premier cours</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Cas où premier élève mais un seul créneau possible -->
		<% elsif (@cour.nombre_eleves == 0 and @cour.jour.present? and @cour.heure.present?)%>

		<% else %>

			<div class="row justify-content-between mt-3">

				<div class="col-12 col-lg-6 bg-blanc p-3" style="border-right: solid 20px #F2F2F2" >
						<div class="row justify-content-center">
							<div class="col-12 ">
								<p style="font-weight: bold; font-size: 1.4em">Objectif</p>
								<input type="button" class="btn btn-secondary col-9" value="Renforcement scolaire" style="border-radius: 10px">			
							</div>
						</div>
				</div>

				<div class="col-12 col-lg-6 bg-blanc p-3">
					<div class="row justify-content-center">
						<div class="col-12">
							<p style="font-weight: bold; font-size: 1.4em">Élèves</p>
							<div class="row justify-content-center">
								<% Inscription.where(cour_id:@cour.id).each do |i| %>
									<div class="col-3">
										<div class="row justify-content-center">
											<div class="col-12">
												<div class="m-auto" style="border-radius: 50%; background-color: #4897D8; width: 50px; height: 50px;">
												</div>
											</div>
											<div class="col-12"><%=User.find(i.user_id).infouser.first_name.capitalize %></div>
										</div>
									</div>
								<% end %>
								<% (3-@cour.nombre_eleves).times do %>
									<div class="col-3">
										<div class="row justify-content-center">
											<div class="col-12">
												<div class="m-auto" style="border-radius: 50%; background-color: #e55966; width: 50px; height: 50px;">
												</div>
											</div>
										</div>
									</div>
								<%end%>	
							</div>			
						</div>
					</div>
				</div>

			</div>

		<% end %>


		<%= hidden_field_tag "id", @cour.id %>
			<% if !(teacher_signed_in? and current_teacher.id == @cour.teacher_id) %>
				<div class="row justify-content-center mt-3">
					<input type="submit" class="col-3 btn btn-primary form-control" value="M'inscire" style="border-radius: 15px" name="commit">	
				</div>
			<% end %>


		<%end%>	


	</div>
</div>



						



			<!-- Modal  Supprimer cours pour teacher-->
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">Supprimer ce cours</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        Je confirme mon souhait de supprimer ce cours. Avant de valider votre choix, nous vous conseillons de prévenir les élèves inscrits de la fin de leur cours. 
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
			        <%= link_to "Supprimer le cours", {:controller =>"cours", :action=>"destroy", :id=>@cour.id}, class:"btn btn-danger"%>
			      </div>
			    </div>
			  </div>
			</div>

			<!-- Modal Contacter prof -->

			<div class="modal fade" id="ContacterProf" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			    <div class="modal-dialog" role="document">
			        <div class="modal-content">
			            <div class="modal-header text-center">
			                <h4 class="modal-title w-100 font-weight-bold">Envoyer un message</h4>
			                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			                    <span aria-hidden="true">&times;</span>
			                </button>
			            </div>
			            <div class="modal-body mx-3">

			            <%=form_tag("/cours/show", method: "post") do %>
<!--
						<label class="sr-only" for="Email">Email</label>
			            <div class="input-group mb-3">
							<div class="input-group-prepend">
								<div class="input-group-text"><span class="fa fa-envelope-o"></span></div>
							</div>
							<input type="text" class="form-control" id="Email" name="email" placeholder="Email">
						</div>
-->
			            <div class="input-group mb-3">
							<div class="input-group-prepend">
								<div class="input-group-text"><span class="fa fa-pencil"></span></div>
							</div>
							<textarea type="text" class="form-control" id="Message" name="message"></textarea>
						</div>
						<input type="hidden" name="cour_id" value='<%=@cour.id%>'>
			            <div class="modal-footer">
			                <div class="input-group mb-3">
								<div class="input-group-prepend">
									<div class="input-group-text"><span class="fa fa-paper-plane-o"></span></div>
								</div>
								<input type="submit" class="btn btn-primary form-control" value="Envoyer" name="contactprof">
							</div>
			            </div>
			            <% end %>
			        </div>
			    </div>
			</div>
			<!-- Fin Modal contacter prof -->
			
			</div>
		</div>
	</div>
</div>

<% if (teacher_signed_in? and current_teacher.id == @cour.teacher_id) %>
	<%=form_tag("/cours/show", method: "post") do %>
	<% if Inscription.where(cour_id:@cour.id).length > 0 %>
		<div class="row">
			<div class="col-1"></div>
			<div class="col-10">
				<% Inscription.where(cour_id:@cour.id).each do |i| %>
					<div class="row">
						<div class="col-6">
							<p style="font-weight: bold; font-size: 1.1em; text-align: start; border-bottom: solid 1px black">
								<%=User.find(i.user_id).infouser.first_name%> <%=User.find(i.user_id).infouser.last_name%>
							</p>
						</div>
						<div class="col-12"></div>
						<div class="col-3" style="padding:0px">
							<input type="text" name="<%=i.user_id%>[datepicker][]" class="datepicker" placeholder="Date du cours" style=" min-height:50px; min-width:230px; border: solid 1px black; text-align: center; color: #444A55; margin-left: 0px">
						</div>
						<div class="col-3">
							<textarea type="text" style="min-height:50px; min-width:500px; border: solid 1px black; text-align: center;" name="<%=i.user_id%>[commentaire][]" minlength="10" maxlength="100" placeholder="Commentaire pour l'élève"></textarea>
						</div>
					</div>
				<% end %>
			</div>
		</div>
		<div class="row mt-4">
			<div class="col-1"></div>
			<div class="col-3" >
				<input type="hidden" name="cour_id" value='<%=@cour.id%>'>
				<input type="submit" class="btn btn-primary form-control" value="Envoyer" name="commentaire">
			</div>
		</div>
		<% end %>
	<% end %>
<% end %>

<script type="text/javascript">
		 	$.extend($.fn.pickadate.defaults, {
			  monthsFull: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
			  weekdaysShort: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
			  today: '',
			  clear: '',
			  close: 'Fermer',
			  formatSubmit: 'dd-mm-yyyy',
			})

			$('.datepicker').pickadate({
				hiddenName:true
			})


		</script>