<section class="row justify-content-center mt-4 mx-0">
  <div class="col-10">
    <p style="font-size: 1.5em; font-weight: bold; color: #e55966">Top avantages </p>
    <div class="row justify-content-center p-3">

      <div class="col-12 col-lg-3">
        <div class="row justify-content-center">
          <div class="col-12">
            <%= image_tag "icones-prof/lieu2.jpg", :class=>"icones_prof"%>
          </div>
          <div class="col-12 mt-4">
            <p>Les cours ont lieu à <span style="font-weight: bold">votre domicile</span></p>
          </div>
        </div>      
      </div>

      <div class="col-12 col-lg-3">
        <div class="row justify-content-center">
          <div class="col-12">
            <%= image_tag "icones-prof/money-bag-euro.png", :class=>"icones_prof"%>
          </div>
          <div class="col-12 mt-4">
            <p>Gagnez jusqu'à <span style="font-weight: bold">44€</span> par cours selon le nombre d'élèves inscrits</p>
          </div>
        </div>      
      </div>
<!--
      <div class="col-12 col-lg-3">
        <div class="row justify-content-center">
          <div class="col-12">
            <%= image_tag "icones-prof/groupe.png", :class=>"icones_prof"%>
          </div>
          <div class="col-12 mt-2">
            <p>Une dynamique de groupe de </br>  <span style="font-weight: bold">1 à 3 élèves</span> </p>
          </div>
        </div>      
      </div>
-->
      <div class="col-12 col-lg-3">
        <div class="row justify-content-center">
          <div class="col-12">
            <%= image_tag "icones-prof/calendrier.png", :class=>"icones_prof"%>
          </div>
          <div class="col-12 mt-4">
            <p>Vous êtes <span style="font-weight: bold">libre</span> dans le choix de vos horaires</p>
          </div>
        </div>      
      </div>

    </div>
  </div>
</section>

<section class="row justify-content-center align-items-stretch mt-3 mx-0 p-4">
            <div class="col-11 row justify-content-center">

                <h4 class="col-12 mx-0 mb-3 text-center prof-flex-title">Une plateforme intuitive au service de votre expérience </h4>



                <div class="row justify-content-around mt-3">

                  <div class="col-12 col-lg-6 row prof-flex p-4 justify-content-around">


                      <div class="col-12 col-lg-2 row justify-content-center align-items-center ">
                        <%= image_tag "icones-prof/algo.png", :class=>"icones"%>
                      </div>
                      <div class="col-12 col-lg-10 row justify-content-center align-items-center">
                          <div class="col-12"><p style="font-weight: bold; text-align: start;">Un algorithme de recherche</p></div>
                          <div class="col-12"><p style="text-align: start;">mettant en relation un professeur et un groupe de maximum 3 élèves.</p></div>
                      </div>
                  </div>
                  <div class="col-12 col-lg-6 row prof-flex p-4 justify-content-around">
                      <div class="col-12 col-lg-2 row justify-content-center align-items-center">
                        <%= image_tag "icones-prof/home.png", :class=>"icones"%>
                      </div>
                      <div class="col-12 col-lg-10 row justify-content-center align-items-center">
                          <div class="col-12"><p style="font-weight: bold; text-align: start">Un espace professeur</p></div>
                          <div class="col-12">
                            <p style="text-align: start;">facilitant la gestion des cours et l'échange avec les élèves.</p>
                          </div>
                      </div>
                  </div>

                </div>

                <div class="row justify-content-around mt-3">
                  <div class="col-12 col-lg-6 row prof-flex p-4 justify-content-around">
                      <div class="col-12 col-lg-2 row justify-content-center align-items-center">
                        <%= image_tag "icones-prof/processus.png", :class=>"icones"%>
                      </div>
                      <div class="col-12 col-lg-10 row justify-content-center align-items-center">
                          <div class="col-12"><p style="font-weight: bold; text-align: start">Un processus de suivi</p></div>
                          <div class="col-12"><p style="text-align: start;">par mail et SMS afin de gagner en réactivité et d’améliorer votre expérience sur notre plateforme.</p></div>
                      </div>
                  </div>
                  <div class="col-12 col-lg-6 row prof-flex p-4 justify-content-around">
                      <div class="col-12 col-lg-2 row justify-content-center align-items-center">
                        <%= image_tag "icones-prof/icone_paiement_securise.png", :class=>"icones"%>
                      </div>
                      <div class="col-12 col-lg-10 row justify-content-center align-items-center">
                          <div class="col-12"><p style="font-weight: bold; text-align: start">Un processus de paiement simplifié</p></div>
                          <div class="col-12"><p style="text-align: start;">basé sur un abonnement sans engagement, vous recevez l'argent directement sur votre compte sous 5 jours ouvrés.</p></div>
                      </div>
                  </div>
                </div>

            </div>
            
</section>

<section class="row justify-content-center mx-0 mt-3">
    <div class="col-12 p-0">
      <div style="min-height: 580px">
        <%= image_tag "commentcamarche.png", :class=>"img-fluid"%>
      </div>
    </div>
</section>

<section class="row justify-content-center mx-0 mt-3">
                <div class="col-12 text-center">
                  <h4 style="color:#e55966">Rejoignez notre communauté de professeurs !</h4>
                </div>
                <!--
                <div class="col-12 text-center">
                  <h6 style="color:#e55966">ils nous font déjà confiance, à votre tour</h6>
                </div>
              -->
                <div class="col-12 col-md-8 row justify-content-center align-items-center">
                    <div class="col-12 col-md-3 text-center mb-1">
                        <%= image_tag "samuel.jpg", :class=>"prof-avatar img-fluid col-12 mb-3"%>
                        <div class="col-12">Samuel</div>
                        <div class="col-12">Physique chimie</div>
                    </div>
                    <div class="col-12 col-md-3 text-center mb-1">
                        <%= image_tag "anais.jpg", :class=>"prof-avatar img-fluid col-12 mb-3"%>
                        <div class="col-12">Anaïs</div>
                        <div class="col-12">Mathématiques</div>
                    </div>
                    <div class="col-12 col-md-3 text-center mb-1">
                        <%= image_tag "ines.jpg", :class=>"prof-avatar img-fluid col-12 mb-3"%>
                        <div class="col-12">Ines</div>
                        <div class="col-12">Français</div>
                    </div>
                    <div class="col-12 col-md-3 text-center mb-1">
                        <%= image_tag "arthur.jpg", :class=>"prof-avatar img-fluid col-12 mb-3"%>
                        <div class="col-12">Arthur</div>
                        <div class="col-12">Anglais</div>
                    </div>
                </div>
                <div class="col-12 row justify-content-center align-items-center m-2">
                    <a href="#" class="col-auto pt-2 pb-2 pl-4 pr-4 bg-rose join-btn">Nous rejoindre</a>
                </div>
            </div>
</section>

<section class="row col-12 justify-content-center mt-3">
    <div class="col-10 mb-4">
        <h3 class="jacket-title2 rose">Questions fréquentes</h3>
    </div>
    <div class="col-12 row justify-content-center">
        <div class="col-12 col-lg-5">
            <div style="text-align: left">
                <h5 class=" jacket-title4">Combien je gagne par cours ?</h5>
                <p >Vous êtes rémunérés selon le nombre d’élèves dans votre cours : </br>
                    - 1 élève : 20€ </br>
                    - 2 élèves : 32€ </br>
                    - 3 élèves 44€
                    </p>
                <br/>
                <h5 class=" jacket-title4">Quel est le nombre maximum d'élèves par cours ?</h5>
                <p >Le nombre d’élèves peut varier de 1 à 3. </p>
                <h5 class=" jacket-title4">Est-ce que les groupes sont homogènes ?</h5>
                <p>Notre algorithme permet de regrouper des élèves ayant défini les mêmes objectifs. </p>
                <h5 class=" jacket-title4">Comment fonctionne l’abonnement sans engagement ?</h5>
                <p>Nous vous reversons votre rémunération à la fin de chaque cours donné via le service de paiement sécurisé Stripe. Cela peut prendre jusqu’à 4 jours.</p>
                <h5 class=" jacket-title4">Quels statuts juridiques pour donner des cours ?</h5>
                <p>Nous vous rappelons que toute activité engendrant une rémunération doit être déclarée auprès de l'administration fiscale. </br>
                Pour ce faire, vous pouvez par exemple être auto-entrepreneur.
                L’inscription est simple et rapide, rendez-vous sur : 
                <a href="https://www.cfe.urssaf.fr">https://www.cfe.urssaf.fr</a>, vous recevrez votre SIREN sous quelques jours par mail.
                </p>
            </div>
        </div>
        <div class="col-12 col-lg-5">
            <div style="text-align: left">
                <h5 class=" jacket-title4">Comment je gère mon emploi du temps ?</h5>
                <p>Avec TopNote, vous êtes libres d’organiser votre emploi du temps comme vous le souhaitez. Nous n’imposons pas de minimum ni de maximum d’heures de cours</p>
                <br/>
                <h5 class=" jacket-title4">Où se déroule le cours ? </h5>
                <p>Vous déterminez vous-même le lieu. Nous demandons aux professeurs de pouvoir accueillir confortablement trois élèves sur le lieu choisi.
                </p>
                <h5 class=" jacket-title4">Comment faire si je suis absent à un cours ? </h5>
                <p>Si la ponctualité est une vertu, la souplesse l’est aussi. Nous vous avons mis à disposition une fonctionnalité permettant de décaler la date du prochain cours. Cela prévient automatiquement vos élèves par mail et SMS.
                </p>
                <h5 class=" jacket-title4">Que se passe t-il si un élève s’absente ? </h5>
                <p>Chaque élève a le droit à une absence par mois, à condition de prévenir le professeur au moins 1h à l’avance depuis son espace personnel. Au delà d’une absence, nous prélevons l’élève et vous rémunérons normalement.
                </p>
                <h5 class=" jacket-title4">Pourquoi être réactif aux messages des élèves ? </h5>
                <p>Nous vous conseillons de répondre rapidement aux messages des élèves afin d’optimiser vos chances de donner des cours à 3 élèves.
                </p>
            </div>
        </div>
    </div>
</section>
