<div class="row justify-content-center" style="color: white; background-color:#e55966; height: 100px;">
    <h1>Qui sommes nous ?</h1>
</div>

<div class="row align-items-center">
    <div class="col-12 col-lg-6">
        <%= image_tag "Adolescents.jpg", :class=>"img-fluid shadow bg-white rounded"%>
    </div>
    <div class="col-12 col-lg-6 align-items-center">
        <h3 class="text-center">A propos de La kamaraderie</h3>
        <p>La Kamaraderie est une plateforme de mise en relation entre des professeurs et des élèves pour du soutien scolaire en petit groupe chez le professeur.
        Cela permet aux parents de mutaliser leurs coûts et aux enfants de bénéficier d'une émulation collective dans l'apprentissage.</p>
    </div>
</div>

<div class="row justify-content-center mt-5">
    <div class="col-12">
        <h2 style="color:#e55966">Notre équipe</h2>
    </div>
    <div class="col-10 row justify-content-center mt-3">

        <div class="col-3">
            <div class="row">
                <div class="col-12">
                    <%= image_tag "la_kamaraderie_site_kevin.png", :class=>"img-fluid avatar p-0"%>
                </div>
                <div class="col-12" >
                    <p>Kevin Dolhen</p>
                    <p>CMO</p>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="row">
                <div class="col-12">
                    <%= image_tag "la_kamaraderie_site_sajid.jpg", :class=>"img-fluid avatar p-0"%>
                </div>
                <div class="col-12" >
                    <p>Sajid Salhi</p>
                    <p>CTO</p>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="row">
                <div class="col-12">
                    <%= image_tag "la_kamaraderie_site_margot.jpg", :class=>"img-fluid avatar p-0"%>
                </div>
                <div class="col-12" >
                    <p>Margot Lienart</p>
                    <p>COMMUNICATION</p>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="row">
                <div class="col-12">
                    <%= image_tag "la_kamaraderie_site_ines.jpg", :class=>"img-fluid avatar p-0"%>
                </div>
                <div class="col-12" >
                    <p>Inès Charles</p>
                    <p>DESIGNER</p>
                </div>
            </div>
        </div>

    </div>
</div>



            