<div class="row justify-content-around py-5 m-0" style="background-color: rgb(252,98,112); color:white">
 
  <div class="col-12 col-lg-6">
    <p> </p>
    <h2 class="col-12">Devenez professeur, partagez votre savoir et gagnez jusqu'à 50€/cours !</h2>
    <p class="col-12 mt-5"> Vous êtes pédagogue, patient et tourné vers les autres ? 
Alors des élèves ont besoin de vous. 
Rejoignez TopNote pour révolutionner l’approche du soutien scolaire. D’une pierre deux coups, le travail en groupe permet à nos professeurs d’enseigner dans un climat optimal et leur assurent un revenu plus confortable.
    </p>
  </div>

  <div class="col-12 col-lg-4 p-4" id="devise_subcontent">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label :email, 'Adresse e-mail', class:"control-label" %><br />
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><span class="fa fa-envelope-o"></span></span>
          </div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password, 'Mot de passe', class:"control-label" %><br />
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><span class="fa fa-lock"></span></span>
          </div>
          <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
        </div>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, 'Se souvenir de moi', class:"control-label" %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Connexion", class: "form-control btn btn-primary" %>
      </div>
    <% end %>

    <%= render "teachers/shared/links" %>
  </div>
</div>

<section class="row justify-content-center mt-4 mx-0">
  <div class="col-10">
    <p style="font-size: 1.5em; font-weight: bold; color: #e55966">Avec TopNote, c'est vous qui fixez les règles </p>
    <div class="row justify-content-center p-3">

      <div class="col-12 col-lg-3">
        <div class="row justify-content-center">
          <div class="col-12">
            <%= image_tag "icones-prof/lieu2.jpg", :class=>"icones_prof"%>
          </div>
          <div class="col-12 mt-2">
            <p>Les cours ont lieu à <span style="font-weight: bold">votre domicile</span></p>
          </div>
        </div>      
      </div>

      <div class="col-12 col-lg-3">
        <div class="row justify-content-center">
          <div class="col-12">
            <%= image_tag "icones-prof/money-bag-euro.png", :class=>"icones_prof"%>
          </div>
          <div class="col-12 mt-2">
            <p>Gagnez jusqu'à <span style="font-weight: bold">50€</span> par cours selon le nombre d'élèves inscrits</p>
          </div>
        </div>      
      </div>

      <div class="col-12 col-lg-3">
        <div class="row justify-content-center">
          <div class="col-12">
            <%= image_tag "icones-prof/groupe.png", :class=>"icones_prof"%>
          </div>
          <div class="col-12 mt-2">
            <p>Une dynamique de groupe de  <span style="font-weight: bold">1 à 3 élèves</span> </p>
          </div>
        </div>      
      </div>

      <div class="col-12 col-lg-3">
        <div class="row justify-content-center">
          <div class="col-12">
            <%= image_tag "icones-prof/horaire.png", :class=>"icones_prof"%>
          </div>
          <div class="col-12 mt-2">
            <p>Vous êtes <span style="font-weight: bold">libre</span> dans le choix de vos horaires 1 à 3 élèves</p>
          </div>
        </div>      
      </div>

    </div>
  </div>
</section>

<section class="row justify-content-center align-items-stretch mt-3 mx-0 p-4" style="background-color: #F2F2F2">
            <div class="col-11 row justify-content-center">

                <h4 class="col-12 mx-0 mb-3 text-center prof-flex-title">Une plateforme intuitive au service de votre expérience </h4>



                <div class="row justify-content-around mt-3">

                  <div class="col-12 col-lg-6 row prof-flex p-4 justify-content-around">


                      <div class="col-12 col-lg-2 row justify-content-center align-items-center ">
                        <%= image_tag "icones-prof/algo.png", :class=>"icones"%>
                      </div>
                      <div class="col-12 col-lg-10 row justify-content-center align-items-center">
                          <div class="col-12"><p style="font-weight: bold; text-align: start;">Un algorithme de recherche</p></div>
                          <div class="col-12"><p style="text-align: start;">vous permettant de trouver automatiquement des élèves.</p></div>
                      </div>
                  </div>
                  <div class="col-12 col-lg-6 row prof-flex p-4 justify-content-around">
                      <div class="col-12 col-lg-2 row justify-content-center align-items-center">
                        <%= image_tag "icones-prof/home.png", :class=>"icones"%>
                      </div>
                      <div class="col-12 col-lg-10 row justify-content-center align-items-center">
                          <div class="col-12"><p style="font-weight: bold; text-align: start">Un espace professeur</p></div>
                          <div class="col-12">
                            <p style="text-align: start;">facilitant la gestion des cours et l'échange avec les élèves.</p>
                          </div>
                      </div>
                  </div>

                </div>

                <div class="row justify-content-around mt-3">
                  <div class="col-12 col-lg-6 row prof-flex p-4 justify-content-around">
                      <div class="col-12 col-lg-2 row justify-content-center align-items-center">
                        <%= image_tag "icones-prof/processus.png", :class=>"icones"%>
                      </div>
                      <div class="col-12 col-lg-10 row justify-content-center align-items-center">
                          <div class="col-12"><p style="font-weight: bold; text-align: start">Un espace collaboratif</p></div>
                          <div class="col-12"><p style="text-align: start;">Dédié et privé à chaque groupe de travail pour assurer un suivi et faciliter les échanges entre parents, élèves et professeurs.</p></div>
                      </div>
                  </div>
                  <div class="col-12 col-lg-6 row prof-flex p-4 justify-content-around">
                      <div class="col-12 col-lg-2 row justify-content-center align-items-center">
                        <%= image_tag "icones-prof/icone_paiement_securise.png", :class=>"icones"%>
                      </div>
                      <div class="col-12 col-lg-10 row justify-content-center align-items-center">
                          <div class="col-12"><p style="font-weight: bold; text-align: start">Un processus de paiement simplifié</p></div>
                          <div class="col-12"><p style="text-align: start;">Basé sur un abonnement sans engagement, vous recevez l'argent directement sur votre compte 48h après le cours.</p></div>
                      </div>
                  </div>
                </div>

            </div>
            
</section>

<section class="row justify-content-center mx-0 mt-0">
    <div class="col-12 p-0">
      <div style="min-height: 580px">
        <%= image_tag "commentcamarche.png", :class=>"img-fluid"%>
      </div>
    </div>
</section>

<section class="row justify-content-center mx-0 mt-3">
                <div class="col-12 text-center">
                  <h4 style="color:#e55966">Rejoignez notre communauté de professeurs !</h4>
                </div>
                <div class="col-12 text-center">
                  <h6 style="color:#e55966">ils nous font déjà confiance, à votre tour</h6>
                </div>
                <div class="col-12 col-md-8 row justify-content-center align-items-center">
                    <div class="col-12 col-md-3 text-center mb-1">
                        <%= image_tag "samuel.jpg", :class=>"prof-avatar img-fluid col-12 mb-3"%>
                        <div class="col-12">Samuel</div>
                        <div class="col-12">Physique chimie</div>
                    </div>
                    <div class="col-12 col-md-3 text-center mb-1">
                        <%= image_tag "anais.jpg", :class=>"prof-avatar img-fluid col-12 mb-3"%>
                        <div class="col-12">Anaïs</div>
                        <div class="col-12">Mathématiques</div>
                    </div>
                    <div class="col-12 col-md-3 text-center mb-1">
                        <%= image_tag "ines.jpg", :class=>"prof-avatar img-fluid col-12 mb-3"%>
                        <div class="col-12">Ines</div>
                        <div class="col-12">Français</div>
                    </div>
                    <div class="col-12 col-md-3 text-center mb-1">
                        <%= image_tag "arthur.jpg", :class=>"prof-avatar img-fluid col-12 mb-3"%>
                        <div class="col-12">Arthur</div>
                        <div class="col-12">Anglais</div>
                    </div>
                </div>
                <div class="col-12 row justify-content-center align-items-center m-2">
                    <a href="#" class="col-auto pt-2 pb-2 pl-4 pr-4 bg-rose join-btn">Nous rejoindre</a>
                </div>
            </div>
</section>

