
<div class="row justify-content-around py-5 m-0" style="background-color: rgb(252,98,112); color:white">
	<div class="col-10 justify-content-center">
		<h1>Top Blog</h1>
	</div>
</div>
<div class="row justify-content-center mt-5 mb-5 mx-0">


	<% @articles.each do |a| %>
		<div class="col-auto mt-3 p-2 mx-3">
			<div class="card mt-3 h-100 " style="width: 18rem; overflow: hidden">
			  
			  <div style="width:18rem; height: 200px">
			  	<%= image_tag a.image.url,:class=>"img-fluid mh-100"%>
			  </div>
			  <div class="card-body">
			    <h5 class="card-title"><%=a.titre%></h5>
			    <p class="small"><%=a.date%></p>
			    <p class="card-text"><%=a.accroche%></p>
			    <%= link_to "Lire", {:controller =>"blog", :action=>"show", :id=>a.id}, class:"btn btn-primary"%>
			  </div>
			</div>
		</div>
	<%end%>



</div>