<div class="row justify-content-center mb-5">
	<div class="col-11 col-lg-6">
		<div class="row ">

			<div class="col-12 mt-4">
				<div class="row " style="max-height: 500px">
					<%= image_tag @article.image.url%>
				</div>

			</div>
			<div class="col-12 mt-4" style="text-align:left">
				<h1><%=@article.titre%></h1>
				<p style="text-align:left"><%=sanitize @article.contenu%></p>
			</div>

		</div>
	</div>
	<% if teacher_signed_in? and current_teacher.role.power == 2 %>
	<div class="col-11 col-lg-8 mt-4">
		<%= link_to "Détruire", {:controller =>"blog", :action=>"destroy", :id=>@article.id}, class:"btn btn-danger"%>
		<%= link_to "Modifier", {:controller =>"blog", :action=>"edit", :id=>@article.id}, class:"btn btn-info"%>
	</div>
	<%end%>
</div>