<section class="row container-fluid justify-content-center align-items-end p-0 mt-5">
            <div class="col-12 row justify-content-center p-0">
                <h3 class="col-12 text-center text-left  pb-3" style="font-weight: bold; color:#e55966">Finaliser mon inscription</h3>
                <div class="col-12 p-0 col-md-12 col-xl-7 row justify-content-between box-prix">
                    <div class="col-12 p-0 mt-3 mb-3 row justify-content-between">
                        <div class="col-12 col-md-auto col-xl-auto pl-5 justify-content-center row">
                            <%= image_tag "ico/icon_rgb_site.png", :class=>"img-fluid logo-prix" %>
                            <h5 class="col-auto row align-items-center" style="color:#e55966">Abonnement sans engagement</h5>
                        </div>
                        <h5 class="col-12 col-md-auto row align-items-center justify-content-center prix text-light">17
                            €</h5>
                    </div>
                    <% if Cour.find(@cours_id).nombre_eleves < 1 %>

                      <div class="col-12">
                            <ul style="text-align: left">
                              <li><i class="fa fa-circle"></i>Prélevé 1h avant chaque cours. Vous ne serez débité que si le professeur accepte votre demande d'inscription.</li>
                              <!--
                              <li><i class="fa fa-circle"></i>Prélèvement non-remboursable si l’abonnement est annulé après X heure avant le début du cours.</li>
                            -->
                              <li><i class="fa fa-circle"></i>Le professeur dispose de 24h pour accepter votre demande d'inscription.</li>
                              
                              <li><i class="fa fa-circle"></i>Comprend un cours en groupe d’1h30 par semaine avec <%=Cour.find(@cours_id).teacher.infoteacher.first_name%> <%=Cour.find(@cours_id).teacher.infoteacher.last_name %> et donne accès à son espace de travail et de suivi.</li>
                              

                          </ul>
                      </div>

                    <%else%>

                      <div class="col-12">
                          <ul style="text-align: left">
                              <li><i class="fa fa-circle"></i>Prélevé 1h avant chaque cours.</li>
                              <!--
                              <li><i class="fa fa-circle"></i>Prélèvement non-remboursable si l’abonnement est annulé après X heure avant le début du cours.</li>
                            -->
                              <li><i class="fa fa-circle"></i>Comprend un cours en groupe d’1h30 par semaine avec <%=Cour.find(@cours_id).teacher.infoteacher.first_name%> <%=Cour.find(@cours_id).teacher.infoteacher.last_name %> et donne accès à son espace de travail et de suivi.</li>
                          </ul>
                      </div>

                    <%end%>
                </div>
            </div>

                <div class="custom-control custom-checkbox m-3">
                  
                    <% if (current_user.infouser.code == "LANCEMENT18" and !current_user.infouser.code_used) %>
                        <p>
                          Super! Votre code est bien valide :) Vous serez débité non pas de 17€ mais de 13,6€
                        </p>
                    <% elsif (current_user.infouser.code == "LANCEMENT18" and current_user.infouser.code_used) %>
                        <p>Votre code promo n'est malheureusement plus valide.</p>
                        <p>Si vous disposez d'un nouveau code promo, veillez le saisir dans votre espace personnel:
                        <%= link_to "Code promo", {:controller =>"pages", :action=>"code_promo", :id=>@cours_id, :dispo=>@dispo}%>
                        </p>
                      <%else%>
                        <p>
                        Si vous disposez d'un code promo, veillez le saisir dans votre espace personnel: 
                        <%= link_to "Code promo", {:controller =>"pages", :action=>"code_promo", :id=>@cours_id, :dispo=>@dispo}%>
                        </p>
                      <%end%>

                </div>

</section>

<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
 
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Inscription hebdomadaire"
          data-locale="auto"></script>

  <input  id="cours_id" type="hidden" name="cours_id" value='<%=@cours_id%>'/>
  <input  id="dispo" type="hidden" name="dispo" value='<%=@dispo%>'/>

<% end %>




           
