<!DOCTYPE html>
<html>
  <head>
    <title>TopNote</title>
    <%= csrf_meta_tags %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106866790-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-106866790-1');
    </script>

    <!-- Hotjar Tracking Code for lakamaraderie.fr -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:910783,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto:300,300i,400,500i,700,700i" rel="stylesheet">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Le soutien scolaire en petit groupe de 3 chez le professeur, et préparation aux concours BAC et BREVET!" />

  </head>

  <body>
      <div id="main">

          <header>
             <%= render partial:"shared/navbar"%>      
          </header>
          

           <% flash.each do |key, value| %>
             <% unless current_page?('/teachers/sign_in')%>

               <% if key == "notice"
                  key = "success"
                elsif key == "alert"
                  key = "warning"
                end %>
                    
                <div class="alert alert-<%= key %>">
                  <a href="#" data-dismiss="alert" class="close">×</a>
                  <ul>
                    <li>
                      <%= value %>
                    </li>
                  </ul>
                </div>
              <% end %>

          <% end %>

        <section id="corps">
           <!-- <p> <%= debug session.to_hash %> </p> -->
          <%= yield %>       
        </section> 

    </div>
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="row justify-content-center" style="max-height: 200px">     
          <img src="https://marketing-image-production.s3.amazonaws.com/uploads/6f63685a621f85eacb055da5a7b9abcb171c52133ebda6a6da33609a7960933d2cb7bbfc4aa9de3b3009ec847fe2af0f391b3560a89798b932ef6b95f99da8c3.png", class="img-fluid">
        </div>
      </div>
    </div>
    
          <footer>
            <%= render partial: "shared/footer" %>
          </footer>
  </body>
  <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyCmOpoeHGn3B-LSaL4_1LngRYrg9uR0IGE" data-turbolinks-eval="false"></script>
  <!-- Include Google Maps JS API -->

    <script type="text/javascript">
      function initializeAutocomplete(id) {
        var element = document.getElementById(id);
        if (element) {
          var autocomplete = new google.maps.places.Autocomplete(element, { types: ['geocode'] });
          autocomplete.setComponentRestrictions(
            {'country': ['fr']});
          google.maps.event.addListener(autocomplete, 'place_changed', onPlaceChanged);
        }
      }

       var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
      };

      function onPlaceChanged() {
        var place = this.getPlace();
        var lat = document.getElementById("latitude");
        lat.value = place.geometry.location.lat();
        var long = document.getElementById("longitude");
        long.value = place.geometry.location.lng();
        //var ville = document.getElementById("ville");
        //ville.value = place.address_components[2].long_name;
        //console.log(place);  // Uncomment this line to view the full object returned by Google API.
        
        for (var i in place.address_components) {
          var component = place.address_components[i]; 
          console.log(place.address_components[i]);
          //console.log(component.types);//street_number, route, locality, administrative_area, country, postal_code
          for (var j in component.types) {  // Some types are ["country", "political"]
            var type_element = document.getElementById(component.types[j]);
            if (type_element) {
              type_element.value = component.long_name;
            }
          }
        }
      }




      google.maps.event.addDomListener(window, 'load', function() {
        initializeAutocomplete('lieu');
      });
    </script>
</html>
