<!DOCTYPE html>
<html>
  <head>
    <title>Projet1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>
      <div id="main">

          <header>
              <%= session[:page_id] %>
             <%= render partial:"shared/navbar"%>      
          </header>
          

           <% flash.each do |key, value| %>
           <% if key == "notice"
              key = "success"
            elsif key == "alert"
              key = "warning"
            end %>
                
            <div class="alert alert-<%= key %>">
              <a href="#" data-dismiss="alert" class="close">×</a>
              <ul>
                <li>
                  <%= value %>
                </li>
              </ul>
            </div>
          <% end %>
        <section id="corps">
           <!-- <p> <%= debug session.to_hash %> </p> -->
          <%= yield %>       
        </section> 


          <footer>
            <%= render partial: "shared/footer" %>
          </footer>

    </div>
  </body>
</html>
